---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BoxMain from "../../components/BoxMain.astro";
import Button from "../../components/Button.astro";

const pageTitle = "RUSSO by Lublio";
---

<BaseLayout pageTitle={pageTitle}>
  <BoxMain
    title="Russo"
    subtitle="프로젝트 루소"
    description="러시아어는 광활한 대륙의 숨결과 심오한 철학적 깊이가 공존하는 영혼의 언어입니다. 끝없이 펼쳐진 자작나무 숲과 설원의 고독을 닮은 이 언어는, 인간 존재에 대한 근원적인 질문을 던지는 힘을 지니고 있습니다. 진정한 루소폰(Russophone)으로 거듭날 지적 여정을 시작해볼까요?"
    language="rus"
  />

  <div class="button-wrapper">
    <Button
      title="Фразы"
      subtitle="러시아어 회화"
      description="CEFR A1 - B2"
      language="rus"
      path="/russo/phrasebook"
      level="phrase"
    />

    <Button
      title="Схемы"
      subtitle="러시아어 패턴"
      description="CEFR B1 - C1"
      language="rus"
      path="/russo/pattern"
      level="pattern"
    />

    <!-- <Button
      title="Абсолютный новичок"
      subtitle="러시아어 첫걸음"
      description="CEFR A0"
      language="rus"
      path="/russo/a0"
      level="a0"
      isDev="true"
    />

    <Button
      title="Элементарный"
      subtitle="기초 러시아어"
      description="CEFR A1"
      language="rus"
      path="/russo/a1"
      level="a1"
      isDev="true"
    />

    <Button
      title="Предпороговый"
      subtitle="초급 러시아어"
      description="CEFR A2"
      language="rus"
      path="/russo/a2"
      level="a2"
      isDev="true"
    />

    <Button
      title="Пороговый"
      subtitle="중급 러시아어"
      description="CEFR B1"
      language="rus"
      path="/russo/b1"
      level="b1"
      isDev="true"
    />

    <Button
      title="Постпороговый"
      subtitle="중고급 러시아어"
      description="CEFR B2"
      language="rus"
      path="/russo/b2"
      level="b2"
      isDev="true"
    /> -->
  </div>

  <!-- <Button
    title="Грамматика"
    subtitle="러시아어 문법"
    description="CEFR A1 - B2"
    language="rus"
    path="/russo/grammar"
    level="grammar"
    isDev="true"
  /> -->
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
