---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Box from "../../components/Box.astro";
import Button from "../../components/Button.astro";

const pageTitle = "Bretzi";
---

<BaseLayout pageTitle={pageTitle + " | Powered by Lublio"}>
  <Box
    title="German"
    subtitle="독일어"
    description="Deutsch ist die Sprache der Dichter und Denker. Als wichtige Wissenschafts- und Wirtschaftssprache in Europa überzeugt sie durch ihre logische Struktur und ihre Tiefe in Philosophie und Technik."
    language="deu"
  />

  <div class="button-wrapper">
    <Button
      title="Sätze"
      subtitle="Phrasebook"
      description="CEFR A1 - B2"
      language="deu"
      path="/german/phrasebook"
      level="phrase"
    />

    <Button
      title="Muster"
      subtitle="Patterns"
      description="CEFR B1 - C1"
      language="deu"
      path="/german/pattern"
      level="pattern"
    />

    <!-- <Button
      title="Germano"
      subtitle="모두의 독일어"
      description="CEFR A0 - B2"
      language="deu"
      path="/german/germano"
      level="composite"
      isDev="true"
    /> -->
  </div>

  <!-- <Button
    title="Grammatik"
    subtitle="Grammar"
    description="CEFR A1 - B2"
    language="deu"
    path="/german/grammar"
    level="grammar"
    isDev="true"
  /> -->
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
