---
import Layout from "../../layouts/IvriahLayout.astro";
import BoxMain from "../../components/BoxMainFrontier.astro";
import Button from "../../components/ButtonFrontier.astro";

const pageTitle = "Ivriah";
---

<Layout pageTitle={pageTitle + " | Powered by Lublio"}>
  <BoxMain
    title="Ivriah"
    subtitle="프로젝트 이브리아"
    description="히브리어는 한 번 사라졌다가 다시 살아난 언어입니다. 고대 성경의 문장이 오늘날 이스라엘 사람들의 일상 속에서 그대로 쓰이고 있습니다. 3,000년의 시간을 건너온 이 언어를 함께 배워보세요."
    language="heb"
  />

  <div class="button-wrapper">
    <Button
      title="Bituyim"
      subtitle="히브리어 회화"
      description="CEFR A1 - B2"
      language="heb"
      path="/ivriah/phrase"
      level="phrase"
      isDev="true"
    />

    <Button
      title="Tavniyot"
      subtitle="히브리어 패턴"
      description="CEFR B1 - C1"
      language="heb"
      path="/ivriah/pattern"
      level="pattern"
      isDev="true"
    />

    <!-- <Button
      title="Ophra"
      subtitle="히브리어 첫걸음"
      description="CEFR A0"
      language="heb"
      path="/ivriah/a0"
      level="a0"
      isDev="true"
    />

    <Button
      title="Barzel"
      subtitle="기초 히브리어"
      description="CEFR A1"
      language="heb"
      path="/ivriah/a1"
      level="a1"
      isDev="true"
    />

    <Button
      title="Arad"
      subtitle="초급 히브리어"
      description="CEFR A2"
      language="heb"
      path="/ivriah/a2"
      level="a2"
      isDev="true"
    />

    <Button
      title="Kesef"
      subtitle="중급 히브리어"
      description="CEFR B1"
      language="heb"
      path="/ivriah/b1"
      level="b1"
      isDev="true"
    />

    <Button
      title="Zahav"
      subtitle="중고급 히브리어"
      description="CEFR B2"
      language="heb"
      path="/ivriah/b2"
      level="b2"
      isDev="true"
    />

    <Button
      title="Yahalom"
      subtitle="고급 히브리어"
      description="CEFR C1"
      language="heb"
      path="/ivriah/c1"
      level="c1"
      isDev="true"
    /> -->
  </div>
</Layout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
