---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Box from "../../components/Box.astro";
import Button from "../../components/Button.astro";

const pageTitle = "Swedish";
---

<BaseLayout pageTitle={pageTitle + " - Lublio"}>
  <Box
    title="Svenska"
    subtitle="Swedish"
    description="Svenska är språket för hisnande natur, tidlös design och filosofin om 'lagom'. Med sin melodiska klang och fokus på hållbarhet ger det tillgång till den innovativa skandinaviska kulturen och en värld där balans och enkelhet står i centrum."
    language="swe"
  />

  <div class="button-wrapper">
    <Button
      title="Fraser"
      subtitle="Phrasebook"
      description="CEFR A1 - B2"
      language="swe"
      path="/swedish/phrasebook"
      level="phrase"
    />

    <Button
      title="Mönster"
      subtitle="Patterns"
      description="CEFR B1 - C1"
      language="swe"
      path="/swedish/pattern"
      level="pattern"
    />

    <!-- <Button
      title="Абсолютный новичок"
      subtitle="러시아어 첫걸음"
      description="CEFR A0"
      language="swe"
      path="/swedish/a0"
      level="a0"
      isDev="true"
    />

    <Button
      title="Элементарный"
      subtitle="기초 러시아어"
      description="CEFR A1"
      language="swe"
      path="/swedish/a1"
      level="a1"
      isDev="true"
    />

    <Button
      title="Предпороговый"
      subtitle="초급 러시아어"
      description="CEFR A2"
      language="swe"
      path="/swedish/a2"
      level="a2"
      isDev="true"
    />

    <Button
      title="Пороговый"
      subtitle="중급 러시아어"
      description="CEFR B1"
      language="swe"
      path="/swedish/b1"
      level="b1"
      isDev="true"
    />

    <Button
      title="Постпороговый"
      subtitle="중고급 러시아어"
      description="CEFR B2"
      language="swe"
      path="/swedish/b2"
      level="b2"
      isDev="true"
    /> -->
  </div>

  <!-- <Button
    title="Грамматика"
    subtitle="러시아어 문법"
    description="CEFR A1 - B2"
    language="swe"
    path="/swedish/grammar"
    level="grammar"
    isDev="true"
  /> -->
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
