---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button3 from "../../../components/Button3.astro";

import chapters from "../../../assets/json/french/chapters.json";
const chapters_a1 = chapters["a1"];

// Title
const pageTitle = "프랑스어 A2";
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="Élémentaire"
    subtitle="초급 프랑스어"
    description="Le français est la langue de l'amour, de la gastronomie et de la diplomatie. Parlée sur cinq continents, elle se distingue par son élégance, sa richesse culturelle et sa précision analytique."
    language="fra"
  />

  <main>
    <h2>
      <span class="animated-underline-fra">CEFR A2</span>
    </h2>
    <ul>
      {
        chapters_a1.map((post: any) => (
          <Button3
            id={post.id}
            title={post.fra}
            subtitle={post.kor}
            language="fra"
            path={"/french/a2/" + post.path}
            level="a2"
          />
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
