---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button2 from "../../../components/Button2.astro";

import chapters from "../../../assets/json/patterns/chapters.json";

const pageTitle = "카자흐어 패턴";
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="카자흐어 패턴"
    subtitle="Үлгілер"
    description="단 하나의 패턴으로 수만 개의 문장을 만들어보세요. 문법에 대한 복잡한 고민은 필요 없습니다. 회화 실력을 빠르게 끌어올리는 가장 효율적인 방법을 경험해보세요."
    language="kaz"
  />

  <section>
    <h2>
      <span class="animated-underline-kaz">CEFR B1 - C1</span>
    </h2>

    <ul>
      {
        chapters.map((post: any) => (
          <Button2
            id={post.id}
            title={post.kor}
            subtitle={post.kaz}
            language="kaz"
            path={"/kazakh/pattern/" + post.path}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  section > ul {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1.5rem;
    margin-bottom: 0rem;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const selectors = [
      ".animated-underline",
      ".animated-underline-eng",
      ".animated-underline-fra",
      ".animated-underline-deu",
      ".animated-underline-rus",
      ".animated-underline-esp",
      ".animated-underline-ita",
      ".animated-underline-heb",
      ".animated-underline-kaz",
    ];

    document.querySelectorAll(selectors.join(", ")).forEach((el) => {
      el.classList.add("is-active");
    });
  });
</script>
