---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button2 from "../../../components/Button2.astro";
import SectionSwitcher from "../../../components/SectionSwitcher.astro";

// Title
const pageTitle = "카자흐어 문법";

// Section Switcher
const tabItems = [
  { id: "group-a0", label: "입문" },
  { id: "group-a1", label: "기초" },
  { id: "group-a2", label: "초급" },
  { id: "group-b1", label: "중급" },
];
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="카자흐어 문법"
    subtitle="Грамматика"
    description="알마티의 활기 속에서 건네는 부드러운 살렘 — 저 멀리 눈 덮인 텡리 산이 솟아오른 곳, 초원의 바람이 탁 트인 자유로움을 실어 나르는 곳. 이 회화 모음집은 일상의 카자흐어 깊은 곳에 흐르는 잔잔한 온기를 담았습니다."
    language="kaz"
  />

  <SectionSwitcher items={tabItems} />

  <main>
    <section class="group-a0 fade_1">
      <h2>
        <span class="animated-underline-kaz">입문 카자흐어 (A0)</span>
      </h2>
      <ul>
        <Button2
          id="1"
          title="카자흐어 알파벳"
          subtitle=""
          language="kaz"
          path={"/kazakh/grammar/a0/alphabet"}
        />
      </ul>
    </section>

    <section class="group-a1 fade_1">
      <h2>
        <span class="animated-underline-kaz">기초 카자흐어 (A1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-a2 fade_1">
      <h2>
        <span class="animated-underline-kaz">초급 카자흐어 (A2)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-b1 fade_1">
      <h2>
        <span class="animated-underline-kaz">중급 카자흐어 (B1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const selectors = [
      ".animated-underline",
      ".animated-underline-eng",
      ".animated-underline-fra",
      ".animated-underline-deu",
      ".animated-underline-rus",
      ".animated-underline-esp",
      ".animated-underline-ita",
      ".animated-underline-heb",
      ".animated-underline-kaz",
    ];

    document.querySelectorAll(selectors.join(", ")).forEach((el) => {
      el.classList.add("is-active");
    });
  });
</script>
