---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Box from "../../components/Box.astro";
import Button from "../../components/Button.astro";

const pageTitle = "Spanish";
---

<BaseLayout pageTitle={pageTitle + " - Lublio"}>
  <Box
    title="Español"
    subtitle="Spanish"
    description="El español es la lengua de la pasión y la alegría de vivir. Como uno de los idiomas más hablados del mundo, destaca por su sonoridad vibrante и su papel fundamental en la literatura universal y el comercio global."
    language="spa"
  />

  <div class="button-wrapper">
    <Button
      title="Frases"
      subtitle="Phrasebook"
      description="CEFR A1 - B2"
      language="spa"
      path="/spanish/phrasebook"
      level="phrase"
    />

    <Button
      title="Patrones"
      subtitle="Patterns"
      description="CEFR B1 - C1"
      language="spa"
      path="/spanish/pattern"
      level="pattern"
    />

    <!-- <Button
      title="Germano"
      subtitle="모두의 독일어"
      description="CEFR A0 - B2"
      language="spa"
      path="/spanish/germano"
      level="composite"
      isDev="true"
    /> -->
  </div>

  <!-- <Button
    title="Grammatik"
    subtitle="독일어 문법"
    description="CEFR A1 - B2"
    language="spa"
    path="/spanish/grammar"
    level="grammar"
    isDev="true"
  /> -->
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
