---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

// 'blog' 컬렉션의 모든 데이터를 가져옵니다.
const allPosts = await getCollection("blog");
const pageTitle = "Blog Page";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          {/* post.slug를 사용하여 안전하게 URL을 생성합니다. */}
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          <p>{`/blog/${post.slug}`}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
