---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box from "../../../components/Box.astro";
import Button from "../../../components/Button.astro";
import SectionSwitcher from "../../../components/SectionSwitcher.astro";

// Title
const pageTitle = "German Grammar";

// Section Switcher
const tabItems = [
  { id: "group-noun", label: "Nomen & Artikeln" },
  { id: "group-pronoun", label: "Pronomen" },
  { id: "group-verb", label: "Verben" },
  { id: "group-adjective", label: "Adjektiven" },
  { id: "group-adverb", label: "Adverbien" },
  { id: "group-preposition", label: "Präpositionen" },
  { id: "group-conjunction", label: "Konjunktionen" },
];
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box
    title="Grammatik"
    subtitle="German Grammar"
    description="The clearest roadmap for turning your thoughts into sentences. Build unwavering speaking skills on a rock-solid grammatical foundation."
    language="deu"
  />

  <SectionSwitcher items={tabItems} />

  <main>
    <section class="group-noun">
      <h2>
        <span class="animated-underline-deu">Nomen & Artikeln</span>
      </h2>
      <ul>
        <!-- {
          chapters_a1.map((post: any) => (
            <Button2
              id={post.id}
              title={post.deu}
              subtitle={post.eng}
              language="deu"
              path={"/german/phrasebook/a1/" + post.path}
            />
          ))
        } -->
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
