---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button2 from "../../../components/Button2.astro";
import SectionSwitcher from "../../../components/SectionSwitcher.astro";

import chapters from "../../../assets/json/composite/chapters.json";
const chapters_a0 = chapters["a0"];
const chapters_a1 = chapters["a1"];
const chapters_a2 = chapters["a2"];
const chapters_b1 = chapters["b1"];

// Title
const pageTitle = "종합 프랑스어";

// Section Switcher
const tabItems = [
  { id: "group-a0", label: "입문" },
  { id: "group-a1", label: "기초" },
  { id: "group-a2", label: "초급" },
  { id: "group-b1", label: "중급" },
];
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="종합 프랑스어"
    subtitle="Francisation"
    description="프랑스어는 일상의 모든 순간을 예술로 만드는 언어입니다. 카페의 대화도, 시장의 흥정도, 낯선 이에게 건네는 인사도 프랑스어를 거치면 어딘가 다른 결을 띠게 됩니다. 삶을 조금 더 아름답게 바라보게 만드는 언어, 지금 만나보세요."
    language="fra"
  />

  <SectionSwitcher items={tabItems} />

  <main>
    <section class="group-a0 fade_1">
      <h2>
        <span class="animated-underline-rus">입문 러시아어 (A0)</span>
      </h2>
      <ul>
        <Button2
          id="1"
          title="프랑스어 알파벳"
          subtitle=""
          language="fra"
          path={"/french/composite-dev/a0/alphabet"}
        />
      </ul>
    </section>

    <section class="group-a1 fade_1">
      <h2>
        <span class="animated-underline-rus">기초 러시아어 (A1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-a2 fade_1">
      <h2>
        <span class="animated-underline-rus">초급 러시아어 (A2)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-b1 fade_1">
      <h2>
        <span class="animated-underline-rus">중급 러시아어 (B1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
