---
import FrenchLayout from "../../../layouts/FrenchLayout.astro";
import BoxFrontier from "../../../components/BoxFrontier.astro";
import ButtonFrontier2 from "../../../components/ButtonFrontier2.astro";

import chapters from "../../../assets/json/patterns/chapters.json";

const pageTitle = "프랑스어 패턴";
---

<FrenchLayout pageTitle={pageTitle + " | Lublio"}>
  <BoxFrontier
    title="Modèles"
    subtitle="프랑스어 패턴"
    description="단 하나의 패턴으로 수만 개의 문장을 만들어보세요. 문법에 대한 복잡한 고민은 필요 없습니다. 회화 실력을 빠르게 끌어올리는 가장 효율적인 방법을 경험해보세요."
    language="fra"
  />

  <h2>
    <span class="animated-underline-fra">CEFR B1 - C1</span>
  </h2>

  {
    chapters.map((post: any) => (
      <ButtonFrontier2
        id={post.id}
        title={post.fra}
        subtitle={post.kor}
        language="fra"
        path={"/french/pattern/" + post.path}
      />
    ))
  }
</FrenchLayout>
