@import "./fonts.css";
@import "./colors.css";
@import "./transition.css";

/* Colors CSS */
@import "./colors.css";

/* Fonts CSS */
@import "./fonts.css";

/* Transition CSS */
@import "./transition.css";

/* Markdown CSS */
@import "./markdown.css";

html {
  scroll-behavior: smooth;
  background: linear-gradient(
    -45deg,
    var(--white),
    var(--sky50),
    var(--sky200)
  );
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

/* Flag Icons */
.fi {
  border-radius: 0px;
}

hr {
  display: block;
  border: 1px solid var(--neutral800);
  margin: 3rem 0;
}

/* Mobile */
@media (max-width: 768px) {
  hr {
    margin: 2rem 0;
  }
}

/*
 * ──────────────────────────────
 * WRAPPER
 * ──────────────────────────────
 */

.wrapper {
  width: 100%;
  max-width: 768px;
  height: auto;
  padding: 1.5rem;
  margin: 0 auto;
  background: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapperArticle {
  background-color: var(--neutral100);
  width: 100%;
  max-width: 768px;
  height: auto;
  padding: 1.5rem;
  margin: 0 auto;
}

/*
* ——————————————————————————————
* Text
* ——————————————————————————————
*/

h1,
h2,
h3,
p {
  display: inline-block;
  width: 100%;
  height: auto;
  color: var(--neutral800);
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
p::selection {
  color: var(--neutral100);
  background-color: var(--neutral800);
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.8;
  color: var(--neutral200);
}

/* Mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }
}

/*
* ——————————————————————————————
* Underline Effect
* ——————————————————————————————
*/

.animated-underline-fra {
  position: relative;
  display: inline-block;
}

.animated-underline-fra::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0); /* 처음엔 가로 길이를 0으로 */
  height: 0.2em;
  bottom: -0.2em;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.animated-underline-fra::after {
  background-color: var(--sky400);
}

.animated-underline-fra:hover {
  cursor: default;
}

.animated-underline-fra:hover::after {
  transform: scaleX(1); /* 호버 시 가로 길이를 100%로 */
  transform-origin: bottom left;
}

/*
* ——————————————————————————————
* List (UL & OL)
* ——————————————————————————————
*/

ul,
ol {
  margin-bottom: 1.5rem;
  list-style-type: none;
}

ul > li,
ol > li {
  margin-bottom: 0.5rem;
}

ol li::marker,
ul li::marker {
  color: var(--neutral800);
  font-weight: bold;
  font-family: "Google Sans", sans-serif;
}

ul > li > a,
ol > li > a {
  font-size: 18px;
  font-family: "Google Sans", sans-serif;
  color: rgba(39, 39, 42, 1);
  transition: all 0.4s;
}

ul > li > a:hover,
ol > li > a:hover {
  color: rgba(82, 82, 91, 0.7);
}

/* Mobile */
@media (max-width: 768px) {
  ul > li > a,
  ol > li > a {
    font-size: 15px;
  }
}

/*
* ——————————————————————————————
* Text Box
* ——————————————————————————————
*/

.text-box {
  padding: 20px;
  background-color: transparent;
  border: 2px solid var(--neutral800);
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.text-box > p {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0px;
  margin-bottom: 0px;
  color: var(--neutral800);
  font-family: "Google Sans", sans-serif;
}

.text-box > p:last-child {
  margin-bottom: 0px;
}

/* Mobile */
@media (max-width: 768px) {
  .text-box > p {
    font-size: 15px;
  }
}

/*
* ──────────────────────────────
* STYLED-LIST
* ──────────────────────────────
*/

.styled-list {
  letter-spacing: 0px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.styled-list > li {
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--neutral800);
  font-size: 16px;
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
}

.styled-list > li:last-child {
  margin-bottom: 0px;
}

.styled-list-with-flags {
  list-style: none;
}

.styled-list-with-flags li {
  margin-bottom: 20px;
}

.styled-list-with-flags li:last-child {
  margin-bottom: 0px;
}

.flag-icon {
  height: 15px;
  margin-right: 10px;
  border-radius: 2px;
}

.styled-list-with-flags p {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  color: var(--stone700);
  letter-spacing: 0px;
  line-height: 1.6;
}

/* Tablet */
@media (max-width: 992px) {
  .styled-list {
    font-size: 18px;
  }

  .styled-list-with-flags p {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .styled-list {
    font-size: 16px;
  }

  .styled-list-with-flags p {
    font-size: 16px;
  }
}

/*
 * ──────────────────────────────
 * SELECT
 * ──────────────────────────────
 */

select {
  margin-bottom: 2rem;
  padding: 10px 15px;
  width: 100%;
  color: var(--neutral800);
  font-size: 16px;
  font-family: "Inter", "Noto Hebrew", sans-serif;
  font-weight: 500;
  outline: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid rgba(38, 38, 38, 0.8);
  border-radius: 50px;
  background-color: transparent;
  background-image:
    linear-gradient(45deg, transparent 50%, rgba(38, 38, 38, 0.8) 50%),
    linear-gradient(135deg, rgba(38, 38, 38, 0.8) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  border: 2px solid rgba(38, 38, 38, 0.8);
  background-image:
    linear-gradient(45deg, rgba(38, 38, 38, 0.3) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, rgba(38, 38, 38, 0.3) 50%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

select > option {
  background-color: var(--neutral800);
  color: var(--neutral100);
  font-size: 16px;
  font-family: "Inter", "Noto Korea", sans-serif;
  font-weight: 500;
}

select:hover,
select > option:hover {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  select {
    font-size: 15px;
  }

  select > option {
    font-size: 15px;
  }
}

/*
 * ──────────────────────────────
 * BUTTON (Default)
 * ──────────────────────────────
 */

button {
  position: relative;
  font-family: "Google Sans", sans-serif;
  width: calc(100% - 20px);
  letter-spacing: 0px;
  margin: 10px;
  padding: 10px 20px;
  color: var(--neutral800);
  font-weight: 400;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid var(--neutral800);
  border-radius: 50px;
  transition: all 0.3s;
}

button:last-child {
  margin-bottom: 0px;
}

button:hover {
  background-color: rgba(168, 162, 158, 0.3);
  cursor: pointer;
}

button:focus {
  color: var(--neutral200);
  background-color: var(--neutral800);
  cursor: pointer;
}

.buttons {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.buttons:first-child {
  margin-bottom: 0px;
}

.buttons > button {
  margin: 5px;
}

.buttons > button:last-child {
  margin-bottom: 5px;
}

/* Mobile */
@media (max-width: 768px) {
  button {
    width: calc(100% - 10px);
    max-width: none;
  }

  .buttons {
    margin-bottom: 20px;
    flex-direction: column;
  }
}

/* Mobile & Tablet */
@media (max-width: 992px) {
  /*
 * ──────────────────────────────
 * CALLOUT
 * ──────────────────────────────
 */

  .callout-container {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    z-index: 0;
    margin: 20px 0px;
    border-radius: 0px;
    border-bottom: 2px solid var(--stone700);
    background-color: transparent;
    transition: all 0.3s;
  }

  .callout-container:first-child {
    margin-top: 20px;
  }

  .callout-container > h2 {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    color: var(--stone700);
    background-color: transparent;
    transition: all 0.4s;
  }

  .callout-container:hover > h2 {
    cursor: default;
    letter-spacing: 1px;
    color: var(--stone700);
  }

  /*
 * ──────────────────────────────
 * STYLED-QUOTE
 * ──────────────────────────────
 */

  .styled-quote-pink-left,
  .styled-quote-pink-right,
  .styled-quote-blue-left,
  .styled-quote-blue-right,
  .styled-quote-yellow-left,
  .styled-quote-yellow-right,
  .styled-quote-orange-left,
  .styled-quote-orange-right,
  .styled-quote-green-left,
  .styled-quote-green-right,
  .styled-quote-purple-left,
  .styled-quote-purple-right,
  .styled-quote-red-left,
  .styled-quote-red-right,
  .styled-quote-lime-left,
  .styled-quote-lime-right,
  .styled-quote-cyan-left,
  .styled-quote-cyan-right {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0px;
    outline: none;
    z-index: 0;
    border-radius: 20px;
    box-shadow: 0 0 5px transparent;
    margin-bottom: 20px;
    background: var(--white);
    transition: all 0.3s;
  }

  .styled-quote-pink-left,
  .styled-quote-blue-left,
  .styled-quote-yellow-left,
  .styled-quote-orange-left,
  .styled-quote-green-left,
  .styled-quote-purple-left,
  .styled-quote-red-left,
  .styled-quote-lime-left,
  .styled-quote-cyan-left {
    text-align: left;
  }

  .styled-quote-pink-right,
  .styled-quote-blue-right,
  .styled-quote-yellow-right,
  .styled-quote-orange-right,
  .styled-quote-green-right,
  .styled-quote-purple-right,
  .styled-quote-red-right,
  .styled-quote-lime-right,
  .styled-quote-cyan-right {
    text-align: right;
  }

  .styled-quote-pink-left,
  .styled-quote-pink-right {
    border: 1px solid var(--rose400);
  }

  .styled-quote-blue-left,
  .styled-quote-blue-right {
    border: 1px solid var(--blue400);
  }

  .styled-quote-yellow-left,
  .styled-quote-yellow-right {
    border: 1px solid var(--amber400);
  }

  .styled-quote-orange-left,
  .styled-quote-orange-right {
    border: 1px solid var(--orange400);
  }

  .styled-quote-green-left,
  .styled-quote-green-right {
    border: 1px solid var(--green400);
  }

  .styled-quote-purple-left,
  .styled-quote-purple-right {
    border: 1px solid var(--violet400);
  }

  .styled-quote-red-left,
  .styled-quote-red-right {
    border: 1px solid var(--red400);
  }

  .styled-quote-lime-left,
  .styled-quote-lime-right {
    border: 1px solid var(--lime400);
  }

  .styled-quote-cyan-left,
  .styled-quote-cyan-right {
    border: 1px solid var(--cyan400);
  }

  .styled-quote-pink-left::after,
  .styled-quote-blue-left::after,
  .styled-quote-yellow-left::after,
  .styled-quote-orange-left::after,
  .styled-quote-green-left::after,
  .styled-quote-purple-left::after,
  .styled-quote-red-left::after,
  .styled-quote-lime-left::after,
  .styled-quote-cyan-left:after {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 0;
    margin-top: -8px;
    margin-left: -8px;
  }

  .styled-quote-pink-right::after,
  .styled-quote-blue-right::after,
  .styled-quote-yellow-right::after,
  .styled-quote-orange-right::after,
  .styled-quote-green-right::after,
  .styled-quote-purple-right::after,
  .styled-quote-red-right::after,
  .styled-quote-lime-right::after,
  .styled-quote-cyan-right:after {
    content: "";
    position: absolute;
    right: 0;
    top: 30%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
  }

  .styled-quote-pink-left::after,
  .styled-quote-pink-right::after {
    border-left-color: var(--rose400);
    border-right-color: var(--rose400);
  }

  .styled-quote-blue-left::after,
  .styled-quote-blue-right::after {
    border-left-color: var(--blue400);
    border-right-color: var(--blue400);
  }

  .styled-quote-yellow-left::after,
  .styled-quote-yellow-right::after {
    border-left-color: var(--amber400);
    border-right-color: var(--amber400);
  }

  .styled-quote-orange-left::after,
  .styled-quote-orange-right::after {
    border-left-color: var(--orange400);
    border-right-color: var(--orange400);
  }

  .styled-quote-green-left::after,
  .styled-quote-green-right::after {
    border-left-color: var(--green400);
    border-right-color: var(--green400);
  }

  .styled-quote-purple-left::after,
  .styled-quote-purple-right::after {
    border-left-color: var(--violet400);
    border-right-color: var(--violet400);
  }

  .styled-quote-red-left::after,
  .styled-quote-red-right::after {
    border-left-color: var(--red400);
    border-right-color: var(--red400);
  }

  .styled-quote-lime-left::after,
  .styled-quote-lime-right::after {
    border-left-color: var(--lime400);
    border-right-color: var(--lime400);
  }

  .styled-quote-cyan-left::after,
  .styled-quote-cyan-right::after {
    border-left-color: var(--cyan400);
    border-right-color: var(--cyan400);
  }

  .styled-quote-pink-left:hover,
  .styled-quote-pink-right:hover,
  .styled-quote-blue-left:hover,
  .styled-quote-blue-right:hover,
  .styled-quote-yellow-left:hover,
  .styled-quote-yellow-right:hover,
  .styled-quote-orange-left:hover,
  .styled-quote-orange-right:hover,
  .styled-quote-green-left:hover,
  .styled-quote-green-right:hover,
  .styled-quote-purple-left:hover,
  .styled-quote-purple-right:hover,
  .styled-quote-red-left:hover,
  .styled-quote-red-right:hover,
  .styled-quote-lime-left:hover,
  .styled-quote-lime-right:hover,
  .styled-quote-cyan-left:hover,
  .styled-quote-cyan-right:hover {
    cursor: default;
  }

  .styled-quote-pink-left:hover,
  .styled-quote-pink-right:hover {
    box-shadow:
      0 5px 0 var(--rose300),
      0 10px 0 var(--rose200);
  }

  .styled-quote-blue-left:hover,
  .styled-quote-blue-right:hover {
    box-shadow:
      0 5px 0 var(--blue300),
      0 10px 0 var(--blue200);
  }

  .styled-quote-yellow-left:hover,
  .styled-quote-yellow-right:hover {
    box-shadow:
      0 5px 0 var(--amber300),
      0 10px 0 var(--amber200);
  }

  .styled-quote-orange-left:hover,
  .styled-quote-orange-right:hover {
    box-shadow:
      0 5px 0 var(--orange300),
      0 10px 0 var(--orange200);
  }

  .styled-quote-green-left:hover,
  .styled-quote-green-right:hover {
    box-shadow:
      0 5px 0 var(--green300),
      0 10px 0 var(--green200);
  }

  .styled-quote-purple-left:hover,
  .styled-quote-purple-right:hover {
    box-shadow:
      0 5px 0 var(--violet300),
      0 10px 0 var(--violet200);
  }

  .styled-quote-red-left:hover,
  .styled-quote-red-right:hover {
    box-shadow:
      0 5px 0 var(--red300),
      0 10px 0 var(--red200);
  }

  .styled-quote-lime-left:hover,
  .styled-quote-lime-right:hover {
    box-shadow:
      0 5px 0 var(--lime300),
      0 10px 0 var(--lime200);
  }

  .styled-quote-cyan-left:hover,
  .styled-quote-cyan-right:hover {
    box-shadow:
      0 5px 0 var(--cyan300),
      0 10px 0 var(--cyan200);
  }

  .styled-quote-pink-left .text-original,
  .styled-quote-pink-right .text-original,
  .styled-quote-blue-left .text-original,
  .styled-quote-blue-right .text-original,
  .styled-quote-yellow-left .text-original,
  .styled-quote-yellow-right .text-original,
  .styled-quote-orange-left .text-original,
  .styled-quote-orange-right .text-original,
  .styled-quote-green-left .text-original,
  .styled-quote-green-right .text-original,
  .styled-quote-purple-left .text-original,
  .styled-quote-purple-right .text-original,
  .styled-quote-red-left .text-original,
  .styled-quote-red-right .text-original,
  .styled-quote-lime-left .text-original,
  .styled-quote-lime-right .text-original,
  .styled-quote-cyan-left .text-original,
  .styled-quote-cyan-right .text-original {
    display: block;
    width: 100%;
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: var(--stone700);
  }

  .styled-quote-pink-left .text-original:last-child,
  .styled-quote-pink-right .text-original:last-child,
  .styled-quote-blue-left .text-original:last-child,
  .styled-quote-blue-right .text-original:last-child,
  .styled-quote-yellow-left .text-original:last-child,
  .styled-quote-yellow-right .text-original:last-child,
  .styled-quote-orange-left .text-original:last-child,
  .styled-quote-orange-right .text-original:last-child,
  .styled-quote-green-left .text-original:last-child,
  .styled-quote-green-right .text-original:last-child,
  .styled-quote-purple-left .text-original:last-child,
  .styled-quote-purple-right .text-original:last-child,
  .styled-quote-red-left .text-original:last-child,
  .styled-quote-red-right .text-original:last-child,
  .styled-quote-lime-left .text-original:last-child,
  .styled-quote-lime-right .text-original:last-child,
  .styled-quote-cyan-left .text-original:last-child,
  .styled-quote-cyan-right .text-original:last-child {
    margin-bottom: 0px;
  }

  .styled-quote-pink-left .text-translated,
  .styled-quote-pink-right .text-translated,
  .styled-quote-blue-left .text-translated,
  .styled-quote-blue-right .text-translated,
  .styled-quote-yellow-left .text-translated,
  .styled-quote-yellow-right .text-translated,
  .styled-quote-orange-left .text-translated,
  .styled-quote-orange-right .text-translated,
  .styled-quote-green-left .text-translated,
  .styled-quote-green-right .text-translated,
  .styled-quote-purple-left .text-translated,
  .styled-quote-purple-right .text-translated,
  .styled-quote-red-left .text-translated,
  .styled-quote-red-right .text-translated,
  .styled-quote-lime-left .text-translated,
  .styled-quote-lime-right .text-translated,
  .styled-quote-cyan-left .text-translated,
  .styled-quote-cyan-right .text-translated {
    display: block;
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
    color: var(--stone700);
  }

  /*
 * ──────────────────────────────
 * Form
 * ──────────────────────────────
 */

  .styled-form {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    outline: none;
    z-index: 0;
    margin-bottom: 20px;
    background-color: transparent;
  }

  form > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    background-color: transparent;
  }

  form > ul > li {
    width: 100%;
    background-color: transparent;
  }

  form > ul > li > input {
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid var(--stone700);
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--stone700);
    outline: none;
    background-color: transparent;
    transition: all 0.3s;
  }

  form > ul > li > input::placeholder {
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    font-size: 16px;
  }

  form > ul > li > input:focus {
    border-bottom: 2px solid var(--stone700);
  }

  form > ul > li > button {
    position: relative;
    display: block;
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    width: 50%;
    letter-spacing: 0px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--stone50);
    background-color: var(--stone700);
    border: 2px solid var(--stone700);
    border-radius: 50px;
    transition: all 0.4s;
  }

  form > ul > li > button:hover {
    letter-spacing: 3px;
    color: var(--stone700);
    background-color: transparent;
    cursor: pointer;
  }

  form > ul > li > button:after {
    letter-spacing: 0px;
    color: var(--stone50);
    background-color: var(--stone700);
    cursor: default;
  }

  /*
 * ──────────────────────────────
 * ICON (Default)
 * ──────────────────────────────
 */

  i {
    position: relative;
    background-color: transparent;
    font-size: 20px;
    margin: 0px;
    color: var(--stone700);
    font-weight: 500;
    transition: all 0.3s;
  }

  i:hover {
    color: var(--stone700);
    cursor: pointer;
  }

  /*
 * ──────────────────────────────
 * STYLED-TABLE
 * ──────────────────────────────
 */

  .styled-table {
    width: 100%;
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    color: var(--stone700);
    margin-bottom: 20px;
    background-color: var(--stone100);
    /* border: 1px solid var(--stone700); */
  }

  .styled-table thead {
    background-color: var(--stone700);
    border-radius: 20px;
  }

  .styled-table th,
  .styled-table td {
    padding: 10px;
    background-color: transparent;
  }

  .styled-table th {
    font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: var(--stone100);
  }

  .styled-table th:last-child,
  .styled-table td:last-child {
    border-right: none;
  }

  /*
 * ──────────────────────────────
 * POP-UP
 * ──────────────────────────────
 */

  .popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }

  .popup-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--stone700);
    border-radius: 15px;
    width: calc(100% - 40px);
    font-weight: bolder;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .popup-buttons button {
    display: inline-block;
    width: calc(50% - 5px);
    margin: 0px;
  }

  .show {
    display: block;
  }
}
