/* FADE */

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade_1 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
}

.fade_2 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 0.2s;
}

.fade_3 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 0.4s;
}

.fade_4 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 0.6s;
}

.fade_5 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 0.8s;
}

.fade_6 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 1s;
}

.fade_7 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 1.2s;
}

.fade_8 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 1.4s;
}

.fade_9 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 1.6s;
}

.fade_10 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 1.8s;
}

.fade_11 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 2s;
}

.fade_12 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 2.2s;
}

.fade_13 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade;
  animation-delay: 2.4s;
}

/* RISE UP */

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
  }
}

.riseUp_1 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
}

.riseUp_2 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 0.2s;
}

.riseUp_3 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 0.4s;
}

.riseUp_4 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 0.6s;
}

.riseUp_5 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 0.8s;
}

.riseUp_6 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 1s;
}

.riseUp_7 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 1.2s;
}

.riseUp_8 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 1.4s;
}

.riseUp_9 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 1.6s;
}

.riseUp_10 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 1.8s;
}

.riseUp_11 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 2s;
}

.riseUp_12 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 2.2s;
}

.riseUp_13 {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: riseUp;
  animation-delay: 2.4s;
}
