---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BoxMain from "../../components/BoxMain.astro";
import Button from "../../components/Button.astro";

const pageTitle = "히브리어";
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <BoxMain
    title="히브리어"
    subtitle="עברית"
    description="히브리어는 수백 년의 인내 끝에 다시 살아난 언어입니다. 고대 경전에 새겨진 그 단어들이 오늘날 이스라엘의 거리에서 그대로 울려 퍼집니다. 3천 년의 시간을 건너 우리에게 닿은 언어, 지금 만나보세요."
    language="heb"
  />

  <div class="button-wrapper">
    <Button
      title="히브리어 회화"
      subtitle="ביטויים"
      description="CEFR A1 - B2"
      language="heb"
      path="/hebrew/phrasebook"
      level="phrase"
    />

    <Button
      title="히브리어 패턴"
      subtitle="תבניות"
      description="CEFR B1 - C1"
      language="heb"
      path="/hebrew/pattern"
      level="pattern"
    />

    <!-- <Button
      title="종합 히브리어"
      subtitle="עברות"
      description="CEFR A0 - C1"
      language="heb"
      path="/hebrew/composite"
      level="composite"
      isDev="true"
    /> -->

    <!--
    <Button
      title="Ophra"
      subtitle="히브리어 첫걸음"
      description="CEFR A0"
      language="heb"
      path="/hebrew/a0"
      level="a0"
    />

    <Button
      title="Barzel"
      subtitle="기초 히브리어"
      description="CEFR A1"
      language="heb"
      path="/hebrew/a1"
      level="a1"
      isDev="true"
    />

    <Button
      title="Arad"
      subtitle="초급 히브리어"
      description="CEFR A2"
      language="heb"
      path="/hebrew/a2"
      level="a2"
      isDev="true"
    />

    <Button
      title="Kesef"
      subtitle="중급 히브리어"
      description="CEFR B1"
      language="heb"
      path="/hebrew/b1"
      level="b1"
      isDev="true"
    />

    <Button
      title="Zahav"
      subtitle="중고급 히브리어"
      description="CEFR B2"
      language="heb"
      path="/hebrew/b2"
      level="b2"
      isDev="true"
    />

    <Button
      title="Yahalom"
      subtitle="고급 히브리어"
      description="CEFR C1"
      language="heb"
      path="/hebrew/c1"
      level="c1"
      isDev="true"
    /> -->
  </div>
</BaseLayout>

<style>
  .button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
