---
import HebrewLayout from "../../layouts/HebrewLayout.astro";
import BoxMainFrontier from "../../components/BoxMainFrontier.astro";
import ButtonFrontier from "../../components/ButtonFrontier.astro";

const pageTitle = "히브리어";
---

<HebrewLayout pageTitle={pageTitle + " | Lublio"}>
  <BoxMainFrontier
    title="עברית"
    subtitle="히브리어"
    description="히브리어는 수백 년의 인내 끝에 다시 살아난 언어입니다. 고대 경전에 새겨진 그 단어들이 오늘날 이스라엘의 거리에서 그대로 울려 퍼집니다. 3천 년의 시간을 건너 우리에게 닿은 언어, 지금 만나보세요."
    language="heb"
  />

  <div class="ButtonFrontier-wrapper">
    <!-- <ButtonFrontier
      title="Ivrit"
      subtitle="종합 히브리어"
      description="CEFR A0 - C1"
      language="heb"
      path="/hebrew/composite"
      level="composite"
    /> -->

    <ButtonFrontier
      title="Bituyim"
      subtitle="히브리어 회화"
      description="CEFR A1 - B2"
      language="heb"
      path="/hebrew/phrasebook"
      level="phrase"
    />

    <ButtonFrontier
      title="Tavniyot"
      subtitle="히브리어 패턴"
      description="CEFR B1 - C1"
      language="heb"
      path="/hebrew/pattern"
      level="pattern"
    />

    <!-- <ButtonFrontier
        title="Milim"
        subtitle="Vocabulary"
        description="CEFR A1 - B2"
        language="heb"
        path="/hebrew/vocabulary"
        level="vocabulary"
        isDev="true"
      /> -->

    <!--
    <ButtonFrontier
      title="Ophra"
      subtitle="히브리어 첫걸음"
      description="CEFR A0"
      language="heb"
      path="/hebrew/a0"
      level="a0"
    />
    F
    <ButtonFrontier
      title="Barzel"
      subtitle="기초 히브리어"
      description="CEFR A1"
      language="heb"
      path="/hebrew/a1"
      level="a1"
      isDev="true"
    />

    <ButtonFrontier
      title="Arad"
      subtitle="초급 히브리어"
      description="CEFR A2"
      language="heb"
      path="/hebrew/a2"
      level="a2"
      isDev="true"
    />

    <ButtonFrontier
      title="Kesef"
      subtitle="중급 히브리어"
      description="CEFR B1"
      language="heb"
      path="/hebrew/b1"
      level="b1"
      isDev="true"
    />

    <ButtonFrontier
      title="Zahav"
      subtitle="중고급 히브리어"
      description="CEFR B2"
      language="heb"
      path="/hebrew/b2"
      level="b2"
      isDev="true"
    />

    <ButtonFrontier
      title="Yahalom"
      subtitle="고급 히브리어"
      description="CEFR C1"
      language="heb"
      path="/hebrew/c1"
      level="c1"
      isDev="true"
    /> -->
  </div>
</HebrewLayout>

<style>
  .ButtonFrontier-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .ButtonFrontier-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
