---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button3 from "../../../components/Button3.astro";

import chapters from "../../../assets/json/french/chapters.json";
const chapters_a1 = chapters["a1"];

// Title
const pageTitle = "러시아어 A0";
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="Абсолютный новичок"
    subtitle="러시아어 첫걸음"
    description="Русский язык — это язык великой литературы и космоса. Обладая богатой грамматикой и выразительностью, он открывает доступ к глубокой культуре и истории крупнейшей страны мира."
    language="rus"
  />

  <main>
    <h2>
      <span class="animated-underline-rus">CEFR A0</span>
    </h2>
    <ul>
      {
        chapters_a1.map((post: any) => (
          <Button3
            id={post.id}
            title={post.rus}
            subtitle={post.kor}
            language="rus"
            path={"/russian/a0/" + post.path}
            level="a0"
          />
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
