---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import BoxMarkdown from "../../../../components/BoxMarkdown.astro";
import Button2 from "../../../../components/Button2.astro";

// Title
const pageTitle = "히브리어 알파벳";

import TableHorizontal from "../../../../components/TableHorizontal.astro";

const hebrewAlphabet = {
  알파벳: [
    "א",
    "ב",
    "ג",
    "ד",
    "ה",
    "ו",
    "ז",
    "ח",
    "ט",
    "י",
    "כ",
    "ל",
    "מ",
    "נ",
    "ס",
    "ע",
    "פ",
    "צ",
    "ק",
    "ר",
    "ש",
    "ת",
  ],
  발음: [
    "알레프",
    "베트",
    "기멜",
    "달레트",
    "헤",
    "바브",
    "자인",
    "헤트",
    "테트",
    "요드",
    "카프",
    "라메드",
    "멤",
    "눈",
    "사메크",
    "아인",
    "페",
    "차디",
    "코프",
    "레시",
    "신/쉰",
    "타브",
  ],
  예시: [
    "אָבָּא (아빠)",
    "בַּיִת (집)",
    "גָּדוֹל (크다)",
    "דָּג (물고기)",
    "הַר (산)",
    "וֶרֶד (장미)",
    "זְמַן (시간)",
    "חָלָב (우유)",
    "טוֹב (좋다)",
    "יָם (바다)",
    "כֶּלֶב (개)",
    "לֵב (심장)",
    "מַיִם (물)",
    "נֵר (초)",
    "סוּס (말)",
    "עַיִן (눈)",
    "פֶּרַח (꽃)",
    "צֶבַע (색)",
    "קוֹל (소리)",
    "רֹאשׁ (머리)",
    "שֶׁמֶשׁ (태양)",
    "תַּפּוּחַ (사과)",
  ],
};
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <BoxMarkdown
    title="히브리어 알파벳"
    subtitle="האלפבית העברי"
    language="heb"
  />

  <main>
    <section class="group-a0 fade_1">
      <h1>
        <span class="animated-underline-heb">히브리어 알파벳</span>
      </h1>
      <TableHorizontal numberOfColumns="3" data={hebrewAlphabet} />
    </section>

    <section class="group-a1 fade_1">
      <h2>
        <span class="animated-underline-heb">기초 히브리어 (A1)</span>
      </h2>
      <h3>현재 제작중에 있습니다 🏗️</h3>
    </section>

    <section class="group-a2 fade_1">
      <h2>
        <span class="animated-underline-heb">초급 히브리어 (A2)</span>
      </h2>
      <h3>현재 제작중에 있습니다 🏗️</h3>
    </section>

    <section class="group-b1 fade_1">
      <h2>
        <span class="animated-underline-heb">중급 히브리어 (B1)</span>
      </h2>
      <h3>현재 제작중에 있습니다 🏗️</h3>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
