---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BoxMain from "../../components/BoxMain.astro";
import Button from "../../components/Button.astro";

const pageTitle = "Russian";
---

<BaseLayout pageTitle={pageTitle + " - Lublio"}>
  <BoxMain
    title="Русский"
    subtitle="Russian"
    description="Русский — это язык великой литературы и космоса. Обладая невероятной силой выражения и эмоциональной глубиной, он открывает доступ к богатейшему культурному наследию и передовым научным достижениям."
    language="rus"
  />

  <div class="button-wrapper">
    <Button
      title="Фразы"
      subtitle="Phrasebook"
      description="CEFR A1 - B2"
      language="rus"
      path="/russian/phrasebook"
      level="phrase"
    />

    <Button
      title="Схемы"
      subtitle="Patterns"
      description="CEFR B1 - C1"
      language="rus"
      path="/russian/pattern"
      level="pattern"
    />

    <!-- <Button
      title="Абсолютный новичок"
      subtitle="러시아어 첫걸음"
      description="CEFR A0"
      language="rus"
      path="/russo/a0"
      level="a0"
      isDev="true"
    />

    <Button
      title="Элементарный"
      subtitle="기초 러시아어"
      description="CEFR A1"
      language="rus"
      path="/russo/a1"
      level="a1"
      isDev="true"
    />

    <Button
      title="Предпороговый"
      subtitle="초급 러시아어"
      description="CEFR A2"
      language="rus"
      path="/russo/a2"
      level="a2"
      isDev="true"
    />

    <Button
      title="Пороговый"
      subtitle="중급 러시아어"
      description="CEFR B1"
      language="rus"
      path="/russo/b1"
      level="b1"
      isDev="true"
    />

    <Button
      title="Постпороговый"
      subtitle="중고급 러시아어"
      description="CEFR B2"
      language="rus"
      path="/russo/b2"
      level="b2"
      isDev="true"
    /> -->
  </div>

  <Button
    title="Грамматика"
    subtitle="Grammar"
    description="CEFR A1 - B2"
    language="rus"
    path="/russo/grammar"
    level="grammar"
    isDev="true"
  />
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
