---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BoxMain from "../../components/BoxMain.astro";
import Button from "../../components/Button.astro";

const pageTitle = "카자흐어";
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <BoxMain
    title="카자흐어"
    subtitle="Қазақша"
    description="카자흐어는 광활한 초원이 빚어낸 언어입니다. 유목 민족의 이야기와 전통은 세대를 넘어 입에서 입으로 전해져 왔고, 지금도 살아 숨 쉬고 있습니다. 돔브라의 울림처럼 유연하고 깊이 있는 언어, 지금 만나보세요."
    language="kaz"
  />

  <div class="button-wrapper">
    <Button
      title="카자흐어 회화"
      subtitle="Фразалар"
      description="CEFR A1 - B2"
      language="kaz"
      path="/kazakh/phrasebook"
      level="phrase"
    />

    <Button
      title="카자흐어 패턴"
      subtitle="Үлгілер"
      description="CEFR B1 - C1"
      language="kaz"
      path="/kazakh/pattern"
      level="pattern"
    />

    <!-- <Button
      title="카자흐어 문법"
      subtitle="Грамматика"
      description="CEFR A0 - C1"
      language="kaz"
      path="/kazakh/grammar"
      level="grammar"
      isDev="true"
    /> -->
  </div>
</BaseLayout>

<style>
  .button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
