---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Box from "../../components/Box.astro";
import Button from "../../components/Button.astro";

const pageTitle = "이탈리아어";
---

<BaseLayout pageTitle={pageTitle + " - Lublio"}>
  <Box
    title="Italiano"
    subtitle="이탈리아어"
    description="Lingua italiana — è la lingua dell'arte, della musica e del rinascimento. Con la sua melodia unica e il suo calore, apre le porte a un immenso patrimonio artistico e al fascino del vivere con stile."
    language="ita"
  />

  <div class="button-wrapper">
    <Button
      title="Frasi"
      subtitle="이탈리아어 회화"
      description="CEFR A1 - B2"
      language="ita"
      path="/italian/phrasebook"
      level="phrase"
    />

    <Button
      title="Modelli"
      subtitle="이탈리아어 패턴"
      description="CEFR B1 - C1"
      language="ita"
      path="/italian/pattern"
      level="pattern"
    />

    <!-- <Button
      title="Russo"
      subtitle="종합 러시아어"
      description="CEFR A0 - B2"
      language="rus"
      path="/russian/russo"
      level="composite"
      isDev="true"
    /> -->
  </div>

  <!-- <Button
    title="Грамматика"
    subtitle="러시아어 문법"
    description="CEFR A1 - B2"
    language="rus"
    path="/russian/grammar"
    level="grammar"
    isDev="true"
  /> -->
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
