---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonMain from "../components/ButtonMain.astro";
import Typewriter from "../components/Typewriter.astro";

// Logo
import LogoSVG from "../../public/lublio-logo-light.svg?raw";

const pageTitle = "Lublio";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="icon-wrapper">
    <a href="/">
      <Fragment set:html={LogoSVG} />
    </a>
  </div>

  <h2>
    <Typewriter
      texts={[
        "Going beyond just a simple 'Bonjour',", // [FR] 단순히 '봉주르'를 넘어,
        "Whispering 'Privet' to the Red Square,", // [RU] 붉은 광장에 '프리벳'이라고 속삭이는,
        "Finding your 'Joie de vivre' in Paris,", // [FR] 파리에서 삶의 기쁨(조아 드 비브르)을 찾는,
        "Chasing the 'White Nights' of St. Petersburg,", // [RU] 상트페테르부르크의 백야를 쫓는 여정,
        "A 'Flâneur' wandering through old streets,", // [FR] 오래된 거리를 거니는 산책자(플라뇌르),
        "The deep 'Dusha' found in a winter train,", // [RU] 겨울 기차 안에서 발견한 깊은 영혼(두샤),
        "Every 'Petit bonheur' becomes a memory,", // [FR] 모든 소소한 행복(쁘띠 보뇌르)이 추억이 되는,
        "Unlocking the 'Mir' of the vast East,", // [RU] 광활한 동쪽의 세계(미르)를 여는 열쇠,
      ]}
    />
  </h2>
  <h2 id="fixed-title">start your journey here.</h2>

  <div class="button-wrapper">
    <ButtonMain
      title="Deutsch"
      subtitle="German"
      description="CEFR A1 - C1"
      language="deu"
      path="/german"
    />

    <ButtonMain
      title="Français"
      subtitle="French"
      description="CEFR A1-C1"
      language="fra"
      path="/french"
    />

    <!-- <ButtonMain
      title="Русский"
      subtitle="Russian"
      description="CEFR A1-C1"
      language="rus"
      path="/russian"
    /> -->

    <!-- <ButtonMain
      title="Español"
      subtitle="Spanish"
      description="CEFR A1 - C1"
      language="spa"
      path="/spanish"
    />

    <ButtonMain
      title="Italiano"
      subtitle="Italian"
      description="CEFR A1 - C1"
      language="ita"
      path="/italian"
    /> -->
  </div>

  <style>
    .icon-wrapper {
      position: relative;
      width: 60px; /* 원하는 크기 조절 */
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      height: auto;
      margin-left: auto;
      border-bottom: 2px solid transparent;
      transition: 0.4s all;
    }

    /* SVG 내부의 path나 circle 등을 직접 제어 */
    .icon-wrapper :global(svg) {
      width: 100%;
      height: 100%;
    }

    /* 호버 시 색상 변경 예시 */
    .icon-wrapper:hover {
      cursor: pointer;
      background-color: var(--neutral200);
    }

    h2 {
      font-family: "Inter", sans-serif;
      margin-top: 150px;
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 0.5rem;
      font-weight: 400;
    }

    #fixed-title {
      font-family: "Roboto Condensed", sans-serif;
      margin-top: 0px;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 2rem;
      font-weight: 700;
    }

    .button-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: stretch;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    /* Mobile */
    @media (max-width: 480px) {
      .icon-wrapper {
        width: 50px; /* 원하는 크기 조절 */
      }

      h3 {
        margin-top: 100px;
        font-size: 20px;
        line-height: 20px;
      }

      h2 {
        height: 30px;
        margin-top: 120px;
        font-size: 18px;
        line-height: 22px;
        width: 85%;
      }

      #fixed-title {
        height: 70px;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      .button-wrapper {
        gap: 10px;
      }
    }
  </style>
</BaseLayout>
