---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonMain from "../components/ButtonMain.astro";
import Typewriter from "../components/Typewriter.astro";

// Logo
import LogoSVG from "../../public/lublio-logo-light.svg?raw";

const pageTitle = "Lublio";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="wrapper-intro">
    <!-- <h2>
      <Typewriter
        texts={[
          "두려움보다 설렘을 선택한",
          "작은 시작으로 큰 변화를 이끄는",
          "자신만의 우주를 펼쳐가는",
          "오늘보다 나은 내일을 만드는",
          "스스로 길을 만들어가는",
          "일상이 곧 모험인",
          "매일 새로운 나를 발견하는",
          "세상에 없던 길을 그려가는",
          "어제의 나를 뛰어넘는",
          "불가능을 가능으로 바꾸는",
        ]}
      />
    </h2>

    <h2 id="fixed-title">당신을 응원합니다 ✨</h2> -->

    <div class="button-wrapper">
      <!-- <ButtonMain
        title="영어"
        subtitle="English"
        description="CEFR A1 - C1"
        language="eng"
        path="/english"
      />

      <ButtonMain
        title="독일어"
        subtitle="Deutsch"
        description="CEFR A1 - C1"
        language="deu"
        path="/german"
      />

      <ButtonMain
        title="프랑스어"
        subtitle="Français"
        description="CEFR A1 - C1"
        language="fra"
        path="/french"
      /> -->

      <ButtonMain
        title="히브리어"
        subtitle="עברית"
        description="CEFR A1 - C1"
        language="heb"
        path="/hebrew"
      />

      <ButtonMain
        title="카자흐어"
        subtitle="Қазақша"
        description="CEFR A1 - C1"
        language="kaz"
        path="/kazakh"
      />

      <ButtonMain
        title="러시아어"
        subtitle="Русский"
        description="CEFR A1 - C1"
        language="rus"
        path="/russian"
      />
    </div>
  </div>

  <style>
    .wrapper-intro {
      height: calc(100vh - 3rem);
    }

    /* h2 {
      font-family: "Roboto Condensed", sans-serif;
      margin-top: 1rem;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    #fixed-title {
      font-family: "Roboto Condensed", sans-serif;
      margin-top: 0px;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 2rem;
      font-weight: 600;
    } */

    .button-wrapper {
      display: grid;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: stretch;
      gap: 1.5rem;
      margin-bottom: 1rem;
    }

    /* Mobile */
    @media (max-width: 480px) {
      .icon-wrapper {
        width: 50px;
      }

      h3 {
        margin-top: 100px;
        font-size: 20px;
        line-height: 20px;
      }

      h2 {
        height: 30px;
        margin-top: 200px;
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 0px;
      }

      #fixed-title {
        font-size: 32px;
        height: 24px;
        margin-bottom: 3rem;
      }
    }
  </style>
</BaseLayout>
