---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonMain from "../components/ButtonMain.astro";
import Typewriter from "../components/Typewriter.astro";

// Logo
import LogoSVG from "../../public/lublio-logo-light.svg?raw";

const pageTitle = "Lublio";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="icon-wrapper">
    <a href="/">
      <Fragment set:html={LogoSVG} />
    </a>
  </div>

  <h2>
    <Typewriter
      texts={[
        "Going beyond just a simple 'Bonjour' in a Parisian café,",
        "A warm 'Ciao' that leads to a lifelong Roman friendship,",
        "Finding your 'Buen Camino' on the dusty trails of Spain,",
        "Discovering more than just a 'Danke' in the heart of Berlin,",
        "Feeling the deep 'Saudade' echoing through Lisbon streets,",
        "Whispering a friendly 'Ahoj' across the bridges of Prague,",
        "Joining a vibrant 'Fiesta' that never ends under the sun,",
        "Saying a soulful 'Privet' amidst the grandeur of Moscow,",
        "A welcoming 'Merhaba' as you cross the Bosphorus in Istanbul,",
        "The quiet 'Hygge' of a candlelit evening in Copenhagen,",
        "Chasing the 'Meraki' in a hidden tavern on a Greek island,",
      ]}
    />
  </h2>
  <h2 id="fixed-title">start your journey here.</h2>

  <div class="button-wrapper">
    <ButtonMain
      title="Français"
      subtitle="French"
      description="CEFR A1-C1"
      language="fra"
      path="/french"
    />

    <ButtonMain
      title="Español"
      subtitle="Spanish"
      description="CEFR A1 - C1"
      language="spa"
      path="/spanish"
    />

    <ButtonMain
      title="Deutsch"
      subtitle="German"
      description="CEFR A1 - C1"
      language="deu"
      path="/german"
    />

    <ButtonMain
      title="Italiano"
      subtitle="Italian"
      description="CEFR A1 - C1"
      language="ita"
      path="/italian"
    />

    <ButtonMain
      title="Nederlands"
      subtitle="Dutch"
      description="CEFR A1-C1"
      language="nld"
      path="/dutch"
    />

    <ButtonMain
      title="Svenska"
      subtitle="Swedish"
      description="CEFR A1-C1"
      language="swe"
      path="/swedish"
    />
  </div>

  <style>
    .icon-wrapper {
      position: relative;
      width: 60px; /* 원하는 크기 조절 */
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      height: auto;
      margin-left: auto;
      border-bottom: 2px solid transparent;
      transition: 0.4s all;
    }

    /* SVG 내부의 path나 circle 등을 직접 제어 */
    .icon-wrapper :global(svg) {
      width: 100%;
      height: 100%;
    }

    /* 호버 시 색상 변경 예시 */
    .icon-wrapper:hover {
      cursor: pointer;
      background-color: var(--neutral200);
    }

    h2 {
      font-family: "Inter", sans-serif;
      margin-top: 150px;
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 0.5rem;
      font-weight: 400;
    }

    #fixed-title {
      font-family: "Roboto Condensed", sans-serif;
      margin-top: 0px;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 2rem;
      font-weight: 700;
    }

    .button-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    /* Mobile */
    @media (max-width: 480px) {
      .icon-wrapper {
        width: 50px; /* 원하는 크기 조절 */
      }

      h3 {
        margin-top: 100px;
        font-size: 20px;
        line-height: 20px;
      }

      h2 {
        height: 30px;
        margin-top: 120px;
        font-size: 18px;
        line-height: 22px;
        width: 85%;
      }

      #fixed-title {
        height: 70px;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      .button-wrapper {
        gap: 10px;
      }
    }
  </style>
</BaseLayout>
