---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonMain from "../components/ButtonMain.astro";
import Typewriter from "../components/Typewriter.astro";

const pageTitle = "Lublio";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Lublio</h1>
  <h2>
    <Typewriter
      texts={[
        "스스로 길을 만들어가는",
        "일상이 곧 모험인",
        "두려움보다 설렘을 선택한",
        "매일 새로운 나를 발견하는",
        "세상에 없던 길을 그려가는",
        "포기 대신 한 걸음을 택한",
        "어제의 나를 뛰어넘는",
        "자신만의 우주를 펼쳐가는",
        "오늘보다 나은 내일을 만드는",
      ]}
    />
    <br />
    당신의 열정을 응원합니다. ✨
  </h2>

  <ButtonMain
    title="English"
    subtitle="영어"
    description="CEFR A1 - C1"
    language="eng"
    path="/english"
  />

  <ButtonMain
    title="Deutsch"
    subtitle="독일어"
    description="CEFR A1 - C1"
    language="deu"
    path="/german"
  />

  <ButtonMain
    title="Français"
    subtitle="프랑스어"
    description="CEFR A1 - C1"
    language="fra"
    path="/french"
  />

  <ButtonMain
    title="Русский"
    subtitle="러시아어"
    description="CEFR A1 - C1"
    language="rus"
    path="/russian"
  />
</BaseLayout>
