---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonMain from "../components/ButtonMain.astro";
import Typewriter from "../components/Typewriter.astro";

// Logo
import LogoSVG from "../../public/lublio-logo-light.svg?raw";

const pageTitle = "Lublio";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="icon-wrapper">
    <a href="/">
      <Fragment set:html={LogoSVG} />
    </a>
  </div>

  <h2>
    <Typewriter
      texts={[
        "Finding your 'Joie de vivre' in Paris,", // [프랑스] 파리에서 삶의 기쁨을 찾는,
        "Sipping 'Espresso' in a Roman piazza,", // [이탈리아] 로마 광장에서 에스프레소를 마시는,
        "Dancing to the 'Flamenco' rhythm in Seville,", // [스페인] 세비야의 플라멩코 리듬에 맞춰 춤추는,
        "Tracing the 'Hygge' warmth of Stockholm,", // [스웨덴] 스톡홀름의 따스한 안락함을 쫓는,
        "A 'Flâneur' wandering through Berlin walls,", // [독일] 베를린 장벽 사이를 거니는 산책자,
        "Chasing the 'Golden City' glow in Prague,", // [체코] 황금빛 프라하의 잔상을 쫓는,
        "Sailing the 'Grachten' of Amsterdam,", // [네덜란드] 암스테르담의 운하를 항해하는,
        "Listening to 'Fado' echoes in Lisbon,", // [포르투갈] 리스본에 울려 퍼지는 파도를 듣는,
        "Soaking in the 'Termál' baths of Budapest,", // [헝가리] 부다페스트 온천에 몸을 녹이는,
        "Getting lost in the 'Grand Bazaar' colors,", // [튀르키예] 그랜드 바자르의 색감에 길을 잃는,
        "Unlocking the 'Mir' of the vast East,", // [러시아] 광활한 동쪽의 세계를 여는,
        "Where every 'Petit bonheur' becomes a map,", // 모든 소소한 행복이 하나의 지도가 되는 곳,
      ]}
    />
  </h2>

  <h2 id="fixed-title">start your journey here</h2>

  <div class="button-wrapper">
    <ButtonMain
      title="Français"
      subtitle="French"
      description="CEFR A1-C1"
      language="fra"
      path="/french"
    />

    <ButtonMain
      title="Español"
      subtitle="Spanish"
      description="CEFR A1-C1"
      language="spa"
      path="/spanish"
    />

    <ButtonMain
      title="Deutsch"
      subtitle="German"
      description="CEFR A1 - C1"
      language="deu"
      path="/german"
    />

    <ButtonMain
      title="Italiano"
      subtitle="Italian"
      description="CEFR A1-C1"
      language="ita"
      path="/italian"
    />

    <ButtonMain
      title="Nederlands"
      subtitle="Dutch"
      description="CEFR A1-C1"
      language="nld"
      path="/dutch"
    />

    <ButtonMain
      title="Русский"
      subtitle="Russian"
      description="CEFR A1-C1"
      language="rus"
      path="/russian"
    />
  </div>

  <style>
    .icon-wrapper {
      position: relative;
      width: 60px; /* 원하는 크기 조절 */
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      height: auto;
      margin-left: auto;
      border-bottom: 2px solid transparent;
      transition: 0.4s all;
    }

    /* SVG 내부의 path나 circle 등을 직접 제어 */
    .icon-wrapper :global(svg) {
      width: 100%;
      height: 100%;
    }

    /* 호버 시 색상 변경 예시 */
    .icon-wrapper:hover {
      cursor: pointer;
      background-color: var(--neutral200);
    }

    h2 {
      font-family: "Inter", sans-serif;
      margin-top: 150px;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    #fixed-title {
      font-family: "Roboto Condensed", sans-serif;
      margin-top: 0px;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 2rem;
      font-weight: 700;
    }

    .button-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: stretch;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    /* Mobile */
    @media (max-width: 480px) {
      .icon-wrapper {
        width: 50px; /* 원하는 크기 조절 */
      }

      h3 {
        margin-top: 100px;
        font-size: 20px;
        line-height: 20px;
      }

      h2 {
        height: 30px;
        margin-top: 120px;
        font-size: 20px;
        line-height: 22px;
        width: 85%;
      }

      #fixed-title {
        height: 70px;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      .button-wrapper {
        gap: 10px;
      }
    }
  </style>
</BaseLayout>
