---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

const { title, subtitle, description, language } = Astro.props;

const colorMap800: Record<string, string> = {
  eng: "var(--pink800)",
  fra: "var(--sky800)",
  deu: "var(--amber800)",
  ita: "var(--emerald800)",
  spa: "var(--rose800)",
  rus: "var(--indigo800)",
  heb: "var(--blue800)",
  kaz: "var(--cyan800)",
};
const colorMap700: Record<string, string> = {
  eng: "var(--pink700)",
  fra: "var(--sky700)",
  deu: "var(--amber700)",
  ita: "var(--emerald700)",
  spa: "var(--rose700)",
  rus: "var(--indigo700)",
  heb: "var(--blue700)",
  kaz: "var(--cyan700)",
};
const colorMap600: Record<string, string> = {
  eng: "var(--pink600)",
  fra: "var(--sky600)",
  deu: "var(--amber600)",
  ita: "var(--emerald600)",
  spa: "var(--rose600)",
  rus: "var(--indigo600)",
  heb: "var(--blue600)",
  kaz: "var(--cyan600)",
};
const colorMap500: Record<string, string> = {
  eng: "var(--pink500)",
  fra: "var(--sky500)",
  deu: "var(--amber500)",
  ita: "var(--emerald500)",
  spa: "var(--rose500)",
  rus: "var(--indigo500)",
  heb: "var(--blue500)",
  kaz: "var(--cyan500)",
};
const colorMap400: Record<string, string> = {
  eng: "var(--pink400)",
  fra: "var(--sky400)",
  deu: "var(--amber400)",
  ita: "var(--emerald400)",
  spa: "var(--rose400)",
  rus: "var(--indigo400)",
  heb: "var(--blue400)",
  kaz: "var(--cyan400)",
};
const colorMap300: Record<string, string> = {
  eng: "var(--pink300)",
  fra: "var(--sky300)",
  deu: "var(--amber300)",
  ita: "var(--emerald300)",
  spa: "var(--rose300)",
  rus: "var(--indigo300)",
  heb: "var(--blue300)",
  kaz: "var(--cyan300)",
};
const colorMap200: Record<string, string> = {
  eng: "var(--pink200)",
  fra: "var(--sky200)",
  deu: "var(--amber200)",
  ita: "var(--emerald200)",
  spa: "var(--rose200)",
  rus: "var(--indigo200)",
  heb: "var(--blue200)",
  kaz: "var(--cyan200)",
};
const colorMap100: Record<string, string> = {
  eng: "var(--pink100)",
  fra: "var(--sky100)",
  deu: "var(--amber100)",
  ita: "var(--emerald100)",
  spa: "var(--rose100)",
  rus: "var(--indigo100)",
  heb: "var(--blue100)",
  kaz: "var(--cyan100)",
};
const color800 = colorMap800[language] || "var(--zinc800)";
const color700 = colorMap700[language] || "var(--zinc700)";
const color600 = colorMap600[language] || "var(--zinc600)";
const color500 = colorMap500[language] || "var(--zinc500)";
const color400 = colorMap400[language] || "var(--zinc400)";
const color300 = colorMap300[language] || "var(--zinc300)";
const color200 = colorMap200[language] || "var(--zinc200)";
const color100 = colorMap100[language] || "var(--zinc100)";
---

<style
  define:vars={{
    color800,
    color700,
    color600,
    color500,
    color400,
    color300,
    color200,
    color100,
  }}
>
  .box {
    background-color: var(--color100);
  }

  .box > h1,
  .box > h2,
  .box > p {
    color: var(--neutral800);
  }

  .box .loader::before,
  .box .loader::after {
    background-color: var(--color400);
  }
</style>

<div class="box riseUp_1">
  <h1 class="fade_2">{title}</h1>
  <h2 class="fade_3">{subtitle}</h2>
  <div class="item">
    <i class="loader"></i>
  </div>
  <p class="fade_4">{description}</p>
</div>

<style>
  .box {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: 360px;
    margin-bottom: 2rem;
    outline: none;
    z-index: 0;
    text-decoration: none;
    padding: 1.5rem;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .box > h1 {
    position: relative;
    font-family: "Inter", "Noto Hebrew", sans-serif;
    display: inline;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    word-break: keep-all;
    word-wrap: break-word;
    transition: all 0.4s;
  }

  .box > h2 {
    position: relative;
    font-family: "Noto Korean", sans-serif;
    display: block;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1;
    margin-top: 1rem;
    transition: all 0.4s;
  }

  .box > p {
    position: absolute;
    font-family: "Noto Korean", sans-serif;
    width: calc(100% - 3rem);
    left: 1.5rem;
    bottom: 1.5rem;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.4;
    transition: all 0.4s;
  }

  .box > p:last-child {
    margin-bottom: 0px;
  }

  .box > h1,
  .box > h2,
  .box > h4,
  .box > span,
  .box > p {
    color: var(--neutral800);
  }

  /* Moving Item */

  .box .item {
    position: absolute;
    display: grid;
    top: 3rem;
    right: 3rem;
    place-items: center;
    transition: all 0.4s ease;
  }

  .box .loader {
    display: block;
    position: relative;
    width: 50%;
    display: grid;
    place-items: center;
    cursor: default;
  }

  .box .loader::before,
  .box .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
  }

  .box .loader::before,
  .box .loader::after {
    background-color: var(--zinc400);
  }

  .box .loader::before {
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    animation: loader1 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  }

  .box .loader::after {
    top: 50%;
    left: 50%;
    animation: loader2 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  }

  @keyframes loader1 {
    0%,
    100% {
      transform: none;
    }

    25% {
      transform: translateX(100%);
    }

    50% {
      transform: translateX(100%) translateY(100%);
    }

    75% {
      transform: translateY(100%);
    }
  }

  @keyframes loader2 {
    0%,
    100% {
      transform: none;
    }

    25% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(-100%) translateY(-100%);
    }

    75% {
      transform: translateY(-100%);
    }
  }

  /* Mobile */
  @media (max-width: 480px) {
    .box > h1 {
      font-size: 38px;
    }

    .box > h1::after {
      height: 10px;
      bottom: 6px;
      left: 0;
      opacity: 0.8;
      z-index: -1;
      transform-origin: bottom left;
      animation: underline 2.4s cubic-bezier(0, 0, 0.24, 1.21);
    }

    .box > h2 {
      font-size: 18px;
    }

    .box > p {
      font-size: 13px;
    }
  }
</style>
