---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

const { title, subtitle, description, language, eng, fra, deu, rus } =
  Astro.props;

const colorMap800: Record<string, string> = {
  heb: "rgba(30, 64, 175, 1)",
  kaz: "rgba(21, 94, 117, 1)",
  fra: "rgba(7, 89, 133, 1)",
  rus: "rgba(55, 48, 163, 1)",
};
const colorMap700: Record<string, string> = {
  heb: "rgba(29, 78, 216, 1)",
  kaz: "rgba(14, 116, 144, 1)",
  fra: "rgba(3, 105, 161, 1)",
  rus: "rgba(67, 56, 202, 1)",
};
const colorMap600: Record<string, string> = {
  heb: "rgba(37, 99, 235, 1)",
  kaz: "rgba(8, 145, 178, 1)",
  fra: "rgba(2, 132, 199, 1)",
  rus: "rgba(79, 70, 229, 1)",
};
const colorMap500: Record<string, string> = {
  heb: "rgba(59, 130, 246, 1)",
  kaz: "rgba(6, 182, 212, 1)",
  fra: "rgba(14, 165, 233, 1)",
  rus: "rgba(99, 102, 241, 1)",
};
const colorMap400: Record<string, string> = {
  heb: "rgba(96, 165, 250, 1)",
  kaz: "rgba(34, 211, 238, 1)",
  fra: "rgba(56, 189, 248, 1)",
  rus: "rgba(129, 140, 248, 1)",
};
const colorMap300: Record<string, string> = {
  heb: "rgba(147, 197, 253, 1)",
  kaz: "rgba(103, 232, 249, 1)",
  fra: "rgba(125, 211, 252, 1)",
  rus: "rgba(165, 180, 252, 1)",
};
const colorMap200: Record<string, string> = {
  heb: "rgba(191, 219, 254, 1)",
  kaz: "rgba(165, 243, 252, 1)",
  fra: "rgba(186, 230, 253, 1)",
  rus: "rgba(199, 210, 254, 1)",
};
const colorMap100: Record<string, string> = {
  heb: "rgba(219, 234, 254, 1)",
  kaz: "rgba(207, 250, 254, 1)",
  fra: "rgba(224, 242, 254, 1)",
  rus: "rgba(224, 231, 255, 1)",
};
const color800 = colorMap800[language] || "var(--neutral800)";
const color700 = colorMap700[language] || "var(--neutral700)";
const color600 = colorMap600[language] || "var(--neutral600)";
const color500 = colorMap500[language] || "var(--neutral500)";
const color400 = colorMap400[language] || "var(--neutral400)";
const color300 = colorMap300[language] || "var(--neutral300)";
const color200 = colorMap200[language] || "var(--neutral200)";
const color100 = colorMap100[language] || "var(--neutral100)";
---

<style
  define:vars={{
    color800,
    color700,
    color600,
    color500,
    color400,
    color300,
    color200,
    color100,
  }}
>
  .box {
    background-color: var(--color200);
  }

  .box > h2,
  .box > h3,
  .box > p {
    color: var(--neutral800);
  }
</style>

<div class="box">
  <h2 class="riseUp_2">{title}</h2>
  {subtitle && <h3 class="riseUp_3">{subtitle}</h3>}
</div>

<style>
  .box {
    position: relative;
    display: block;
    padding: 1.5rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: 400px;
    margin-bottom: 2rem;
    outline: none;
    z-index: 0;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .box > h2 {
    position: relative;
    font-family: "Inter", "Noto Hebrew", sans-serif;
    display: inline;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    word-break: keep-all;
    word-wrap: break-word;
    transition: all 0.4s;
  }

  .box > h3 {
    position: relative;
    font-family: "Noto Korean", sans-serif;
    display: inline-box;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 0;
    transition: all 0.4s;
  }

  .box > p {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1;
    margin-top: 10px;
    transition: all 0.4s;
  }

  .box > h2,
  .box > h3,
  .box > p {
    color: var(--neutral800);
  }

  /* Mobile */
  @media (max-width: 480px) {
    .box > h2 {
      font-size: 32px;
    }

    .box > h3 {
      font-size: 18px;
    }
  }
</style>
