---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

const { id, title, subtitle, language, path } = Astro.props;

const colorMap800: Record<string, string> = {
  heb: "rgba(30, 64, 175, 1)",
  kaz: "rgba(17, 94, 89, 1)",
};
const colorMap700: Record<string, string> = {
  heb: "rgba(29, 78, 216, 1)",
  kaz: "rgba(15, 118, 110, 1)",
};
const colorMap600: Record<string, string> = {
  heb: "rgba(37, 99, 235, 1)",
  kaz: "rgba(13, 148, 136, 1)",
};
const colorMap500: Record<string, string> = {
  heb: "rgba(59, 130, 246, 1)",
  kaz: "rgba(20, 184, 166, 1)",
};
const colorMap400: Record<string, string> = {
  heb: "rgba(96, 165, 250, 1)",
  kaz: "rgba(45, 212, 191, 1)",
};
const colorMap300: Record<string, string> = {
  heb: "rgba(147, 197, 253, 1)",
  kaz: "rgba(94, 234, 212, 1)",
};
const colorMap200: Record<string, string> = {
  heb: "rgba(191, 219, 254, 1)",
  kaz: "rgba(153, 246, 228, 1)",
};
const colorMap100: Record<string, string> = {
  heb: "rgba(219, 234, 254, 1)",
  kaz: "rgba(204, 251, 241, 1)",
};
const color800 = colorMap800[language] || "var(--zinc800)";
const color700 = colorMap700[language] || "var(--zinc700)";
const color600 = colorMap600[language] || "var(--zinc600)";
const color500 = colorMap500[language] || "var(--zinc500)";
const color400 = colorMap400[language] || "var(--zinc400)";
const color300 = colorMap300[language] || "var(--zinc300)";
const color200 = colorMap200[language] || "var(--zinc200)";
const color100 = colorMap100[language] || "var(--zinc100)";
---

<style define:vars={{ color500, color400, color300, color200, color100 }}>
  .btn:hover {
    padding-left: 25px;
    border: 1px solid var(--color400);
    border-left: 4px solid var(--color400);
    background-color: rgba(255, 255, 255, 0.2);
  }

  .btn:hover > h1 {
    color: var(--color400);
  }
</style>

<a href={path}>
  <div class="btn">
    <h1>{id}. {title}</h1>
    <h2>{subtitle}</h2>
  </div>
</a>

<style>
  .btn {
    position: relative;
    border-left: 4px solid var(--neutral200);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 1rem;
    margin-bottom: 1.5rem;
    transition: all 0.4s;
  }

  .btn > h1 {
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--neutral100);
    transition: 0.4s all;
  }

  .btn > h2 {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0rem;
    color: var(--neutral400);
    transition: 0.4s all;
  }

  .btn > p {
    position: absolute;
    left: 1.5rem;
    bottom: 0;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .btn {
      margin-bottom: 20px;
    }

    .btn > h1 {
      font-size: 20px;
    }

    .btn > h2 {
      font-size: 14px;
    }
  }
</style>
