---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

const { id, title, subtitle, language, path } = Astro.props;

const colorMap800: Record<string, string> = {
  eng: "var(--pink800)",
  fra: "var(--sky800)",
  deu: "var(--amber800)",
  ita: "var(--emerald800)",
  spa: "var(--orange800)",
  rus: "var(--indigo800)",
};
const colorMap700: Record<string, string> = {
  eng: "var(--pink700)",
  fra: "var(--sky700)",
  deu: "var(--amber700)",
  ita: "var(--emerald700)",
  spa: "var(--orange700)",
  rus: "var(--indigo700)",
};
const colorMap600: Record<string, string> = {
  eng: "var(--pink600)",
  fra: "var(--sky600)",
  deu: "var(--amber600)",
  ita: "var(--emerald600)",
  spa: "var(--orange600)",
  rus: "var(--indigo600)",
};
const colorMap500: Record<string, string> = {
  eng: "var(--pink500)",
  fra: "var(--sky500)",
  deu: "var(--amber500)",
  ita: "var(--emerald500)",
  spa: "var(--orange500)",
  rus: "var(--indigo500)",
};
const colorMap400: Record<string, string> = {
  eng: "var(--pink400)",
  fra: "var(--sky400)",
  deu: "var(--amber400)",
  ita: "var(--emerald400)",
  spa: "var(--orange400)",
  rus: "var(--indigo400)",
};
const colorMap300: Record<string, string> = {
  eng: "var(--pink300)",
  fra: "var(--sky300)",
  deu: "var(--amber300)",
  ita: "var(--emerald300)",
  spa: "var(--orange300)",
  rus: "var(--indigo300)",
};
const colorMap200: Record<string, string> = {
  eng: "var(--pink200)",
  fra: "var(--sky200)",
  deu: "var(--amber200)",
  ita: "var(--emerald200)",
  spa: "var(--orange200)",
  rus: "var(--indigo200)",
};
const colorMap100: Record<string, string> = {
  eng: "var(--pink100)",
  fra: "var(--sky100)",
  deu: "var(--amber100)",
  ita: "var(--emerald100)",
  spa: "var(--orange100)",
  rus: "var(--indigo100)",
};
const color800 = colorMap800[language] || "var(--zinc800)";
const color700 = colorMap700[language] || "var(--zinc700)";
const color600 = colorMap600[language] || "var(--zinc600)";
const color500 = colorMap500[language] || "var(--zinc500)";
const color400 = colorMap400[language] || "var(--zinc400)";
const color300 = colorMap300[language] || "var(--zinc300)";
const color200 = colorMap200[language] || "var(--zinc200)";
const color100 = colorMap100[language] || "var(--zinc100)";
---

<style define:vars={{ color500, color400, color300, color200, color100 }}>
  .btn:hover {
    padding-left: 25px;
    border-left: 4px solid var(--color500);
    background-color: var(--color100);
  }

  .btn:hover > h1,
  .btn:hover > h2 {
    color: var(--color500);
  }
</style>

<a href={path}>
  <div class="btn">
    <h1>{id}. {title}</h1>
    <h2>{subtitle}</h2>
  </div>
</a>

<style>
  .btn {
    position: relative;
    border-left: 4px solid var(--neutral200);
    background-color: var(--neutral200);
    padding: 1rem;
    margin-bottom: 1.5rem;
    transition: all 0.4s;
  }

  .btn > h1 {
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    transition: 0.4s all;
  }

  .btn > h2 {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0rem;
    color: var(--zinc500);
    transition: 0.4s all;
  }

  .btn > p {
    position: absolute;
    left: 1.5rem;
    bottom: 0;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .btn {
      margin-bottom: 20px;
    }

    .btn > h1 {
      font-size: 20px;
    }

    .btn > h2 {
      font-size: 14px;
    }
  }
</style>
