---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";

const { title, subtitle, description, language, path } = Astro.props;
const colorMap1: Record<string, string> = {
  eng: "var(--pink400)",
  fra: "var(--sky400)",
  deu: "var(--amber400)",
  rus: "var(--indigo400)",
  kaz: "var(--cyan400)",
};
const colorMap2: Record<string, string> = {
  eng: "var(--pink200)",
  fra: "var(--sky200)",
  deu: "var(--amber200)",
  rus: "var(--indigo200)",
  kaz: "var(--cyan200)",
};
const borderColor = colorMap1[language] || "var(--zinc400)";
const backgroundColor = colorMap2[language] || "var(--zinc300)";
---

<style define:vars={{ borderColor, backgroundColor }}>
  .btn:hover {
    border: 2px solid var(--borderColor);
    background: linear-gradient(
      -45deg,
      var(--backgroundColor),
      var(--zinc200),
      var(--zinc200)
    );
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>

<a href={path}>
  <div class="btn">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <p>{description}</p>
  </div>
</a>

<style>
  .btn {
    position: relative;
    border: 2px dashed var(--zinc800);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    min-height: 150px;
    transition: all 0.4s;
  }

  .btn > h1 {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .btn > h2 {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .btn > p {
    display: inline-block;
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }

  .btn:hover {
    border-radius: 15px;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .btn > h1 {
      font-size: 22px;
    }

    .btn > h2 {
      font-size: 15px;
    }

    .btn > p {
      font-size: 14px;
    }
  }
</style>
