---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/transition.css";
import { Icon } from "astro-icon/components";

// Logo
import LogoSVG from "../../public/lublio-logo-light.svg?raw";
---

<header id="main-header" class="header">
  <div class="logo">
    <a href="/">
      <Fragment set:html={LogoSVG} />
    </a>
  </div>
  <ul class="menu">
    <li>
      <a href="/english" class="menu-link">영어</a>
    </li>
    <li>
      <a href="/german" class="menu-link">독일어</a>
    </li>
    <li>
      <a href="/french" class="menu-link">프랑스어</a>
    </li>
    <li>
      <a href="/russian" class="menu-link">러시아어</a>
    </li>
    <!-- <li>
      <a href="/hebrew" class="menu-link">히브리어</a>
    </li>
    <li>
      <a href="/kazakh" class="menu-link">카자흐어</a>
    </li> -->
  </ul>
</header>

<!-- <div id="overlay-menu" class="overlay">
  <div class="overlay-panel panel-1"></div>
  <div class="overlay-panel panel-2"></div>
  <div class="overlay-panel panel-3"></div>
  <div class="overlay-panel panel-4"></div>
  <div class="overlay-panel panel-5"></div>
  <div class="overlay-panel panel-6"></div>

  <div class="overlayContent">
    <a id="menu-close-btn" class="close">&times;</a>
    <ul class="menuList">
      <li>
        <a href="/" class="menuLink">Home</a>
      </li>
      <li>
        <a href="/german" class="menuLink">GERMAN</a>
      </li>
      <li>
        <a href="/french" class="menuLink">FRENCH</a>
      </li>
      <li>
        <a href="/russian" class="menuLink">RUSSIAN</a>
      </li>
    </ul>
  </div>
</div> -->

<script>
  // Overlay Menu 로직
  const overlay = document.getElementById("overlay-menu");
  const openBtn = document.getElementById("menu-open-btn");
  const closeBtn = document.getElementById("menu-close-btn");

  openBtn?.addEventListener("click", () => {
    overlay?.classList.add("overlayActive"); // styles.overlayActive 역할
  });

  closeBtn?.addEventListener("click", () => {
    overlay?.classList.remove("overlayActive");
  });
</script>

<style>
  .header {
    position: fixed;
    top: 0;
    justify-self: left;
    width: 250px;
    height: 100%;
    z-index: 99;
    transition: all 0.4s;
    padding: 1.5rem 0;
    background-color: var(--neutral100);
  }

  .logo {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 0.7rem;
    transition: 0.4s all;
  }

  .logo > a {
    width: 100%;
    height: 100%;
  }

  .logo :global(svg) {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .logo:hover {
    cursor: pointer;
    background-color: var(--neutral300);
  }

  .menu {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    padding: 1rem 0;
    text-align: center;
  }

  .menu > li {
    width: auto;
    margin-bottom: 1rem;
  }

  .menu > li:last-child {
    margin-bottom: 0rem;
  }

  .menu-link {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: var(--neutral800);
    padding: 0.5rem 1rem;
    transition: 0.4s all;
  }

  .menu-link:hover {
    background-color: var(--neutral300);
  }
</style>

<script></script>
