---
const { items } = Astro.props;
---

<>
  <div class="controller">
    {
      items.map((item: any, index: number) => (
        <label>
          <input
            type="radio"
            name="section-switcher"
            class="visibility-toggle"
            data-target={item.id}
            checked={index === 0}
          />
          <span>{item.label}</span>
        </label>
      ))
    }
  </div>
</>

<style>
  .controller {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-bottom: 1.5rem;
  }

  /* label이 4개 이상일 때 적용되는 스타일 */
  .controller:has(label:nth-last-child(n + 5)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
  }

  .controller label {
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /* 홀수인 경우 첫번째 width 100% */
  .controller:has(label:nth-last-child(odd):first-child) > label:last-child {
    grid-column: 1 / -1;
  }

  .visibility-toggle {
    display: none;
  }

  .visibility-toggle + span {
    display: inline-block;
    background-color: var(--neutral200);
    width: 100%;
    padding: 0.7rem;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s ease;
  }

  .visibility-toggle:not(:checked) + span {
    color: var(--neutral400);
  }

  .visibility-toggle:not(:checked) + span:hover,
  .visibility-toggle:checked + span:hover {
    background-color: var(--neutral300);
  }

  .visibility-toggle:checked + span {
    color: var(--neutral800);
  }
</style>

<script>
  const toggles = document.querySelectorAll(".visibility-toggle");

  toggles.forEach((toggle) => {
    toggle.addEventListener("change", (e) => {
      const targetClass = (e.target as HTMLInputElement).dataset.target;

      // Hide all sections
      toggles.forEach((t) => {
        const cls = (t as HTMLInputElement).dataset.target;
        document.querySelectorAll(`.${cls}`).forEach((el) => {
          (el as HTMLElement).style.display = "none";
        });
      });

      // Select one section
      document.querySelectorAll(`.${targetClass}`).forEach((el) => {
        (el as HTMLElement).style.display = "block";
      });
    });
  });

  if (toggles.length > 0) {
    const firstToggle = toggles[0] as HTMLInputElement;
    firstToggle.checked = true;
    firstToggle.dispatchEvent(new Event("change"));
  }
</script>
