---
interface Props {
  numberOfRows: "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8";
  data: Record<string, string[]>;
  tableWidth?: string;
}

const { numberOfRows, data, tableWidth = "100%" } = Astro.props;

const object = Object.entries(data)
  .map(([key, value]) => ({ key, value }))
  .slice(0, Number(numberOfRows));
---

<div class="table-wrapper">
  <div class="table-vertical">
    {
      object.map(({ key, value }) => (
        <div class="row">
          <div class="rowHeader">
            <p>{key}</p>
          </div>
          {value?.map((cell) => (
            <div class="cell">
              <p>{cell}</p>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  .table-wrapper {
    position: relative;
  }

  .table-vertical {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    font-family: "Inter", "Noto Hebrew", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-left: 1px solid var(--neutral300);
    border-right: 1px solid var(--neutral300);
    border-top: 1px solid var(--neutral300);
  }

  .row {
    display: table-row;
    border-bottom: 1px solid var(--neutral300);
  }

  .rowHeader {
    display: table-cell;
    text-align: center;
    background-color: var(--neutral200);
    border-right: 1px solid var(--neutral300);
    vertical-align: middle;
    padding: 10px;
  }

  .rowHeader > p {
    color: var(--neutral800);
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  }

  .cell {
    display: table-cell;
    background-color: transparent;
    border-right: 1px solid var(--neutral300);
    transition: 0.3s all;
    text-align: left;
    vertical-align: middle;
  }

  .cell:last-child {
    border-right: none;
  }

  .cell > p {
    color: var(--neutral800);
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    padding-left: 15px;
  }

  .cell:hover {
    background-color: var(--neutral200);
  }
</style>
