---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box3 from "../../../components/Box3.astro";
import Button from "../../../components/Button.astro";

const pageTitle = "모두의 영어";
---

<BaseLayout pageTitle={pageTitle + " - Lublio"}>
  <Box3
    title="Anglo"
    subtitle="모두의 영어"
    description="영어는 현대 문명의 정보와 네트워크를 주도하는 지적 자산입니다. 지식의 경계를 뛰어넘는 앵글로폰(Anglophone)으로 거듭나는 지적 여정을 시작해볼까요?"
    language="eng"
  />

  <div class="button-wrapper">
    <Button
      title="Absolute Beginner"
      subtitle="영어 첫걸음"
      description="CEFR A0 - A1"
      language="eng"
      path="/english/a0"
      level="a0"
      isDev="true"
    />

    <Button
      title="Beginner"
      subtitle="기초 영어"
      description="CEFR A1"
      language="eng"
      path="/english/a1"
      level="a1"
      isDev="true"
    />

    <Button
      title="Elementary"
      subtitle="초급 영어"
      description="CEFR A2"
      language="eng"
      path="/english/a2"
      level="a2"
      isDev="true"
    />

    <Button
      title="Intermediate"
      subtitle="중급 영어"
      description="CEFR B1"
      language="eng"
      path="/english/b1"
      level="b1"
      isDev="true"
    />
  </div>

  <Button
    title="Upper Intermediate"
    subtitle="중고급 영어"
    description="CEFR B2"
    language="eng"
    path="/english/b2"
    level="b2"
    isDev="true"
  />
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
