---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Box from "../../components/Box.astro";
import Button from "../../components/Button.astro";

const pageTitle = "영어";
---

<BaseLayout pageTitle={pageTitle + " - Lublio"}>
  <Box
    title="English"
    subtitle="영어"
    description="English is a global lingua franca, connecting people across business, science, and culture. Mastering it opens doors to endless information and international opportunities. It’s your key to the world."
    language="eng"
  />

  <div class="button-wrapper">
    <Button
      title="Phrases"
      subtitle="영어 회화"
      description="CEFR A1 - B2"
      language="eng"
      path="/english/phrasebook"
      level="phrase"
    />

    <Button
      title="Patterns"
      subtitle="영어 패턴"
      description="CEFR B1 - C1"
      language="eng"
      path="/english/pattern"
      level="pattern"
    />

    <!-- <Button
      title="Anglo"
      subtitle="모두의 영어"
      description="CEFR A0 - B2"
      language="eng"
      path="/english/anglo"
      level="composite"
      isDev="true"
    /> -->
  </div>

  <!-- <Button
    title="Grammar"
    subtitle="영어 문법"
    description="CEFR A1 - B2"
    language="eng"
    path="/english/grammar"
    level="grammar"
    isDev="true"
  /> -->
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
