---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button2 from "../../../components/Button2.astro";
import SectionSwitcher from "../../../components/SectionSwitcher.astro";

// Title
const pageTitle = "종합 히브리어";

// Section Switcher
const tabItems = [
  { id: "group-a0", label: "입문" },
  { id: "group-a1", label: "기초" },
  { id: "group-a2", label: "초급" },
  { id: "group-b1", label: "중급" },
];
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="종합 히브리어"
    subtitle="עברות"
    description="지중해에서 불어오는 따뜻한 샬롬 — 햇살 가득한 텔아비브의 거리 어딘가, 고대의 울림과 현대의 활기가 만나는 곳. 이 회화 모음집은 일상의 히브리어 속에 깃든 따뜻함과 생동감을 담았습니다."
    language="heb"
  />

  <SectionSwitcher items={tabItems} />

  <main>
    <section class="group-a0 fade_1">
      <h2>
        <span class="animated-underline-heb">입문 히브리어 (A0)</span>
      </h2>
      <ul>
        <Button2
          id="1"
          title="히브리어 알파벳"
          subtitle=""
          language="heb"
          path={"/hebrew/composite-dev/a0/alphabet"}
        />
      </ul>
    </section>

    <section class="group-a1 fade_1">
      <h2>
        <span class="animated-underline-heb">기초 히브리어 (A1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-a2 fade_1">
      <h2>
        <span class="animated-underline-heb">초급 히브리어 (A2)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-b1 fade_1">
      <h2>
        <span class="animated-underline-heb">중급 히브리어 (B1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
