---
import "../styles/ivriah.css";
import HeaderFrontier from "../components/HeaderFrontier.astro";
import BackToTop from "../components/BackToTop.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="google-site-verification"
      content="IiN4hHkkW4C2wrQj5yc9yBKVdGODijd1Wx9qvyBxHbY"
    />
    <meta
      name="naver-site-verification"
      content="8447cb417472e2002c281e10833b348c5ce39c00"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="wrapper">
      <HeaderFrontier />
      <BackToTop />
      <slot />
    </div>
  </body>
</html>
