---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button2 from "../../../components/Button2.astro";
import SectionSwitcher from "../../../components/SectionSwitcher.astro";

import chapters from "../../../assets/json/composite/chapters.json";
const chapters_a0 = chapters["a0"];
const chapters_a1 = chapters["a1"];
const chapters_a2 = chapters["a2"];
const chapters_b1 = chapters["b1"];

// Title
const pageTitle = "종합 러시아어";

// Section Switcher
const tabItems = [
  { id: "group-a0", label: "입문" },
  { id: "group-a1", label: "기초" },
  { id: "group-a2", label: "초급" },
  { id: "group-b1", label: "중급" },
];
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="종합 러시아어"
    subtitle="Russkiy"
    description="러시아어는 대륙만큼 넓고 겨울만큼 깊은 언어입니다. 톨스토이와 도스토옙스키가 그 문장들로 인간의 내면을 파헤쳤고, 오늘날에도 유라시아 전역에서 수억 명의 목소리를 잇고 있습니다. 압도적인 스케일과 섬세함을 동시에 품은 언어, 지금 만나보세요."
    language="rus"
  />

  <SectionSwitcher items={tabItems} />

  <main>
    <section class="group-a0 fade_1">
      <h2>
        <span class="animated-underline-rus">입문 러시아어 (A0)</span>
      </h2>
      <ul>
        <Button2
          id="1"
          title="러시아어 알파벳"
          subtitle=""
          language="rus"
          path={"/russian/composite/a0/alphabet"}
        />
      </ul>
    </section>

    <section class="group-a1 fade_1">
      <h2>
        <span class="animated-underline-rus">기초 러시아어 (A1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-a2 fade_1">
      <h2>
        <span class="animated-underline-rus">초급 러시아어 (A2)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-b1 fade_1">
      <h2>
        <span class="animated-underline-rus">중급 러시아어 (B1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>
