---
import KazariahLayout from "../../layouts/KazariahLayout.astro";
import BoxMainFrontier from "../../components/BoxMainFrontier.astro";
import ButtonFrontier from "../../components/ButtonFrontier.astro";

const pageTitle = "Kazariah";
---

<KazariahLayout pageTitle={pageTitle + " | Powered by Lublio"}>
  <BoxMainFrontier
    title="Kazariah"
    subtitle="Kazakh learning project"
    description="Kazakh is a language shaped by the vast open steppe. The stories and traditions of a nomadic people passed from voice to voice across generations, and they live on still. Come and discover a language as fluid and resonant as the dombra."
    language="kaz"
  />

  <div class="ButtonFrontier-wrapper">
    <ButtonFrontier
      title="Tirkeser"
      subtitle="Phrasebook"
      description="CEFR A1 - B2"
      language="kaz"
      path="/kazariah/phrasebook"
      level="phrase"
    />

    <!-- <ButtonFrontier
      title="Sözdеr"
      subtitle="카자흐어 어휘"
      description="CEFR A1 - B2"
      language="kaz"
      path="/kazariah/vocabulary"
      level="vocabulary"
      isDev="true"
    /> -->

    <ButtonFrontier
      title="Ülgiler"
      subtitle="Sentence Patterns"
      description="CEFR B1 - C1"
      language="kaz"
      path="/kazariah/pattern"
      level="pattern"
    />

    <!-- <ButtonFrontier
      title="Kenda"
      subtitle="카자흐어 첫걸음"
      description="CEFR A0"
      language="kaz"
      path="/kazariah/a0"
      level="a0"
      isDev="true"
    />

    <ButtonFrontier
      title="Temir"
      subtitle="기초 카자흐어"
      description="CEFR A1"
      language="kaz"
      path="/kazariah/a1"
      level="a1"
      isDev="true"
    />

    <ButtonFrontier
      title="Qola"
      subtitle="초급 카자흐어"
      description="CEFR A2"
      language="kaz"
      path="/kazariah/a2"
      level="a2"
      isDev="true"
    />

    <ButtonFrontier
      title="Kümis"
      subtitle="중급 카자흐어"
      description="CEFR B1"
      language="kaz"
      path="/kazariah/b1"
      level="b1"
      isDev="true"
    />

    <ButtonFrontier
      title="Altyn"
      subtitle="중고급 카자흐어"
      description="CEFR B2"
      language="kaz"
      path="/kazariah/b2"
      level="b2"
      isDev="true"
    />

    <ButtonFrontier
      title="Almas"
      subtitle="고급 카자흐어"
      description="CEFR C1"
      language="kaz"
      path="/kazariah/c1"
      level="c1"
      isDev="true"
    /> -->
  </div>
</KazariahLayout>

<style>
  .ButtonFrontier-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .ButtonFrontier-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
