---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BoxMain from "../../components/BoxMain.astro";
import Button from "../../components/Button.astro";

const pageTitle = "Kazariah";
---

<BaseLayout pageTitle={pageTitle + " | Powered by Lublio"}>
  <BoxMain
    title="Kazariah"
    subtitle="프로젝트 카자리아"
    description="카자흐어는 광활한 초원과 함께 살아온 언어입니다. 유목민의 삶과 이야기가 구전으로 이어져 오늘날까지 전해지고 있습니다. 돔브라 선율처럼 부드럽고 깊은 이 언어를 함께 만나보세요."
    language="kaz"
  />

  <div class="button-wrapper">
    <Button
      title="Tirkeser"
      subtitle="카자흐어 회화"
      description="CEFR A1 - B2"
      language="kaz"
      path="/kazariah/phrase"
      level="phrase"
      isDev="true"
    />

    <Button
      title="Ülgiler"
      subtitle="카자흐어 패턴"
      description="CEFR B1 - C1"
      language="kaz"
      path="/kazariah/pattern"
      level="pattern"
      isDev="true"
    />

    <Button
      title="Kenda"
      subtitle="카자흐어 첫걸음"
      description="CEFR A0"
      language="kaz"
      path="/kazariah/a0"
      level="a0"
      isDev="true"
    />

    <Button
      title="Temir"
      subtitle="기초 카자흐어"
      description="CEFR A1"
      language="kaz"
      path="/kazariah/a1"
      level="a1"
      isDev="true"
    />

    <Button
      title="Qola"
      subtitle="초급 카자흐어"
      description="CEFR A2"
      language="kaz"
      path="/kazariah/a2"
      level="a2"
      isDev="true"
    />

    <Button
      title="Kümis"
      subtitle="중급 카자흐어"
      description="CEFR B1"
      language="kaz"
      path="/kazariah/b1"
      level="b1"
      isDev="true"
    />

    <Button
      title="Altyn"
      subtitle="중고급 카자흐어"
      description="CEFR B2"
      language="kaz"
      path="/kazariah/b2"
      level="b2"
      isDev="true"
    />

    <Button
      title="Almas"
      subtitle="고급 카자흐어"
      description="CEFR C1"
      language="kaz"
      path="/kazariah/c1"
      level="c1"
      isDev="true"
    />
  </div>

  <!-- <Button
    title="Grammaire"
    subtitle="Grammar"
    description="CEFR A1 - B2"
    language="kaz"
    path="/kazariah/grammar"
    level="grammar"
    isDev="true"
  /> -->
</KazariahLayout>

<style>
  .button-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .button-wrapper {
      gap: 10px;
      margin-bottom: 10px;
    }
  }
</style>
