---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Box2 from "../../../components/Box2.astro";
import Button2 from "../../../components/Button2.astro";
import SectionSwitcher from "../../../components/SectionSwitcher.astro";

import chapters from "../../../assets/json/composite/chapters.json";
const chapters_a0 = chapters["a0"];
const chapters_a1 = chapters["a1"];
const chapters_a2 = chapters["a2"];
const chapters_b1 = chapters["b1"];

// Title
const pageTitle = "러시아어 문법";

// Section Switcher
const tabItems = [
  { id: "group-a0", label: "입문" },
  { id: "group-a1", label: "기초" },
  { id: "group-a2", label: "초급" },
  { id: "group-b1", label: "중급" },
];
---

<BaseLayout pageTitle={pageTitle + " | Lublio"}>
  <Box2
    title="러시아어 문법"
    subtitle="Грамматика"
    description="문법을 알면 언어가 예측 가능해집니다. 규칙을 이해하는 순간, 모르는 문장도 스스로 만들 수 있게 됩니다. 언어를 진짜로 이해하는 첫걸음을 내딛어보세요."
    language="rus"
  />

  <SectionSwitcher items={tabItems} />

  <main>
    <section class="group-a0 fade_1">
      <h2>
        <span class="animated-underline-rus">입문 러시아어 (A0)</span>
      </h2>
      <ul>
        <Button2
          id="1"
          title="러시아어 알파벳"
          subtitle=""
          language="rus"
          path={"/russian/composite-dev/a0/alphabet"}
        />
      </ul>
    </section>

    <section class="group-a1 fade_1">
      <h2>
        <span class="animated-underline-rus">기초 러시아어 (A1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-a2 fade_1">
      <h2>
        <span class="animated-underline-rus">초급 러시아어 (A2)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>

    <section class="group-b1 fade_1">
      <h2>
        <span class="animated-underline-rus">중급 러시아어 (B1)</span>
      </h2>
      <ul>
        <h3>현재 제작중에 있습니다 🏗️</h3>
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    padding-top: 1.5rem;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const selectors = [
      ".animated-underline",
      ".animated-underline-eng",
      ".animated-underline-fra",
      ".animated-underline-deu",
      ".animated-underline-rus",
      ".animated-underline-esp",
      ".animated-underline-ita",
      ".animated-underline-heb",
      ".animated-underline-kaz",
    ];

    document.querySelectorAll(selectors.join(", ")).forEach((el) => {
      el.classList.add("is-active");
    });
  });
</script>
